@media (max-width: 1300px) {
  body {
    font-size: 16px;
    line-height: 24px;
  }
  .title-text {
    font-size: 28px;
    line-height: 34px;
  }
  .subtitle-text {
    font-size: 20px;
    line-height: 28px;
  }
   
  .header {
    &-nav {
      li {
        margin-right: 20px;
        font-size: 16px;
      }
    }
    &-link {
      width: 220px;
      margin-right: 20px;
    }
  }


  .main {
    .parallax {
      .parallax-bg {
        .object {
          &:nth-child(1) {
            left: -3%;
          }
          &:nth-child(2) {
            left: -8%;
          }
          &:nth-child(3) {
            left: -5%;
          }
          &:nth-child(4),
          &:nth-child(5),
            &:nth-child(6) {
              left: 8%;
          }
        }
      }
    }

    .block2 {
      .title-text img {
        width: 32px;
      }
      .block2-box {
        margin-top: 24px;
        .box-left {
          .left-info {
            .subtitle-text {
              span:last-child {
                &::before {
                  top: -5px !important;
                }
              }
            }
          }
        }
        .box-right {
          .left-img {
            img {
              width: 149px;
              height: 149px;
            }
          }
          .subtitle-text {
            margin: 24px 0 20px;
          }
          .take-part {
            width: 205px;
            margin: 24px 0 10px;
          }
          .project-rules {
            width: 205px;
          }
        }
      }
    }

    .block3 {
      .info-text {
        margin-top: 18px;
      }
      .block3-box {
        margin: 24px 0;
        .box-right {
          width: 49%;
          border-radius: 12px;
          border: 1px solid #E8ECF3;
          padding: 24px;
          .subtitle-text {
            span:last-child {
              &::before {
                top: -5px !important;
              }
            }
          }
        }
      }
      .archive {
        &-box {
          grid-gap: 17px;
          margin: 24px 0 16px;
        }
        &-item {
          .item-img img {
            height: 173px;
          }
          .item-info {
            padding: 24px;
            .info-title {
              font-size: 18px;
              line-height: 24px;
            }
            .info-text {
              margin: 16px 0 24px;
            }
            .info-list {
              font-size: 14px;
              line-height: 14px;
              margin-right: 8px;
              &:last-child {
                margin-right: 0;
              }
            }
          }
        }
      }
    }

    .prof-parallax {
      .parallax-bg {
        height: 320px;
      }
    }

    .block4 {
      .swiper-wrapper {
        grid-gap: 16px;
        margin: 26px 0 24px;
        .swiper-slide {
          img {
            width: 100%;
            height: 170px;
          }
        }
      }
    }

    .archive {
      &-top {
        .select {
          width: 350px;
          &-head {
            width: 350px;
          }
        }
      }
      &-tabs {
        .archive-item {
          margin-top: 15px;
          .item-img {
            margin-right: 16px;
            height: 199px;
            min-width: 353px;
          }
          .item-info {
            padding: 20px 14px 20px 24px;
            .info-name {
              font-size: 18px;
              span:last-child {
                padding-left: 35px;
                &::before {
                  content: url(../img/svg/play-circles2svg.svg);
                }
              }
            }
            .info-text {
              font-size: 16px;
              line-height: 22px;
              margin: 12px 0 16px;
            }
            .info-list {
              padding: 12px 14px;
              border-radius: 50px;
              background: #F6F8FC;
              font-size: 15px;
              line-height: 15px;
              color: #696F79;
              margin-right: 26px;
            }
          }
        }
      }
    }

    .notfound {
      &-box {
        padding-bottom: 64px;
        .title-text {
          font-size: 32px;
          line-height: 36px;
        }
        .info-text {
          font-size: 17px;
        }
      }
    }

    .profile {
      .form {
        min-height: auto;
        .input-box {
          width: 100%;
        }
        .form__btn {
          margin: 0;
        }
        .subscription {
          width: 100%;
          margin-bottom: 16px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    .contact {
      &-item {
        margin: 40px 0 8;
        .item {
          width: 40%;
          margin-bottom: 24px;
        }
      }
    }
  }
}

@media (max-width: 1024px) { 
  .header {
    &-box {
      padding: 24px 0;
    }
    &-nav {
      display: none;
    }
    .btn-base {
      display: none;
    }
    &-link {
      width: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      white-space: nowrap;
      padding: 20px 30px;
      border-radius: 8px;
      border: 1.3px solid #EBEFF8;
      font-size: 16px;
      line-height: 16px;
      font-weight: 500;
      span {
        color: #FE1E25;
        display: inline-block;
        margin-right: 6px;
      }
    }
    .menu-btn {
      display: flex;
    }
    .user-box {
      .user-avatar {
        margin-right: 0;
      }
      .user-box-info {
        display: none;
      }
    }
    .menu {
      &-title {
        font-size: 32px;
        line-height: 40px;
      }
      .projects {
        .menu-title {
          display: flex;
          align-items: center;
          position: relative;
          &::before {
            content: url(../img/svg/back-to.svg);
            margin-right: 15px;
            margin-top: 5px;
          }
          span {
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
          }
        }
      }
    }
  }

  .main {
    padding-bottom: 24px;
    .parallax {
      .title-text {
        img {
          width: 650px;
        }
      }
      .suptitle-text {
        font-size: 32px;
        line-height: 44px;
      }
      .parallax-bg {
        .object {
          &:nth-child(1) {
            left: -3%;
          }
          &:nth-child(2) {
            left: -11%;
            top: 10%;
          }
          &:nth-child(3) {
            left: -7%;
            top: -8%;
          }
          &:nth-child(6) {
              left: 10%;
          }
          &:nth-child(5),
            &:nth-child(4) {
              left: 15%;
          }
        }
      }
    }

    .banner {
      margin-top: 24px;
      .container {
        padding: 0;
      }
    }

    .block1 {
      .container {
        padding: 0;
      }
      &-box {
        grid-gap: 16px;
        padding: 0 32px;
      }
      &-png img {
        height: 194px;
      }
    }
    
    .block2 {
      .block2-box {
        .box-left {
          width: 60%;
        }
        .box-right {
          width: 38%;
        }
      }
    }

    .prof-parallax {  
      .parallax-title {
      font-size: 36px;
      line-height: 44px;
    }
    .parallax-subtitle {
      margin: 24px 0;
    }
      .parallax-bg {
        height: 320px;
        .object {
          &:nth-child(1) {
            left: -2%;
          }
          &:nth-child(2) {
            left: -6%;
          }
          &:nth-child(3) {
            left: -4%;
          }
          &:nth-child(6) {
            left: 4%;
          }
          &:nth-child(4) {
            left: 7%;
          }
          &:nth-child(5) {
            left: 5%;
          }
        }
      }
    }
  }

  .footer {
    &-top {
      padding: 24px 0;
      .top-text {
        font-size: 18px;
        line-height: 26px;
        width: 310px;
        margin-right: 40px;
      }
      .top-form {
        width: 60%;
      }
    }

    &-middle {
      padding: 32px 0;
      .proff-img img {
        width: 326px;
      }
      .left {
        width: 40%;
      }
      .right {
        width: 58%;
        .item {
          &-title {
            font-size: 15px;
            line-height: 23px;
            color: #696F79;
          }
          &-nav {
            margin-top: 24px;
            li {
              font-size: 18px;
              line-height: 28px;
              margin-bottom: 12px;
            }
          }
        }
      }
    }
    &-bottom {
      padding: 24px 0;
      .left {
        li {
          margin-right: 32px;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .container {
    padding: 0 20px;
  }

  .header {
    &-box {
      padding: 16px 0;
    }
    .menu {
      padding-top: 91px;
    }
  }

  .main {
    .parallax {
      .title-text {
        img {
          width: 595px;
        }
      }
      .suptitle-text {
        font-size: 30px;
        line-height: 36px;
      }
    } 

    .banner {
      .banner-box {
        padding: 24px 20px;
      }
    }
    
    .block1 {
      &-box {
        padding: 16px 20px 0;
      }
    }

    .block2 {
      .block2-box {
        .box-left {
          width: 100%;
        }
        .box-right {
          width: 100%;
          margin-top: 16px;
          flex-direction: row-reverse;
          &-info {
            text-align-last: left;
            padding-right: 28px;
          }
          .left-img {
            img {
              min-width: 209px;
              min-height: 209px;
            }
          }
          .subtitle-text {
            margin: 0;
            margin-bottom: 24px;
          }
          &-btn {
            display: flex;
            margin-top: 24px;
          }
          .take-part {
            width: 185px;
            margin: 0 28px 0 0;
          }
          .project-rules {
            width: auto;
          }
        }
      }
    }

    .block3 {
      .info-text {
        margin-top: 18px;
      }
      .block3-box {
        .box-img {
          width: 100%;
        }
        .box-right {
          width: 100%;
          border-radius: 12px;
          border: 1px solid #E8ECF3;
          padding: 24px;
          .subtitle-text {
            span:last-child {
              &::before {
                top: -5px !important;
              }
            }
          }
        }
      }
      .archive {
        &-box {
          grid-gap: 17px;
          margin: 24px 0 16px;
        }
        &-item {
          .item-img img {
            height: 173px;
          }
          .item-info {
            padding: 24px;
            .info-title {
              font-size: 18px;
              line-height: 24px;
            }
            .info-text {
              margin: 16px 0 24px;
            }
            .info-list {
              font-size: 14px;
              line-height: 14px;
              margin-right: 8px;
              &:last-child {
                margin-right: 0;
              }
            }
          }
        }
      }
    }

    .prof-parallax {
      .parallax-title {
      font-size: 32px;
      line-height: 40px;
    }
      .parallax-bg {
        height: 320px;
        .object {
          &:nth-child(1) {
            display: none;
          }
          &:nth-child(2) {
            display: none;
          }
          &:nth-child(3) {
            top: 12%;
            left: -12%;
          }
          &:nth-child(6) {
            display: none;
          }
          &:nth-child(4) {
            top: -15%;
            left: 7%;
          }
          &:nth-child(5) {
            left: 10%;
            top: 12%;
          }
        }
      }
    }

    .block4 {
      .swiper-wrapper {
        grid-gap: 16px;
        margin: 24px 0 16px;
        .swiper-slide {
          img {
            width: 100%;
            height: 128px;
          }
        }
      }
    }
    .archive {
      &-top {
        padding-right: 24px;
        .select {
          width: 260px;
          &-head {
            width: 260px;
          }
        }
      }
      .tab-item {
        padding-right: 24px;
      }
      &-tabs {
        .tab-btns {
          margin-bottom: 32px; 
          .tab-btn {
            input {
              display: none;
            }
          }
        }
      }
    }

    .notfound {
      &-box {
        padding-bottom: 49px;
        .title-text {
          font-size: 30px;
        }
        .info-text {
          font-size: 16px;
        }
      }
    }

    .profile {
      .profile-box {
        flex-direction: column;
        border-radius: 12px;
        border: 1px solid #EBEEF2;
      }
      .profile-item {
        height: auto;
        position: relative;
        padding: 0;
        margin: 0;
        border: none;
        padding: 24px 0 0 24px;
        .profile-tab-btns {
          margin: 24px 0 0;
          flex-direction: row;
          overflow-x: scroll;
          .profile-tab-btn {
            margin-right: 8px;
            min-width: 221px;
            span {
              border: 1px solid #EBEFF8;
            }
          }
        }
        .log-out {
          position: absolute;
          top: 24px;
          right: 24px;
          width: auto;
          svg {
            display: none;
          }
        }
      }
      .form {
        border: none;
        padding: 0;
        margin-top: 32px;
        padding: 0 24px 24px;
        min-height: auto;
        .form__btn  {
          margin: 0;
        }
      }
    }

    .contact {
      &-item {
        margin: 32px 0 8px;
        .item {
          width: 50%;
          p {
            font-size: 18px;
            line-height: 24px;
          }
        }
      }
      .form {
        .input-box,
        .select {
          width: 100%;
        }
        .select {
          margin-bottom: 20px;
          .options {
            top: 110%;
          }
        }
        .form__btn  {
          margin: 22px 0 0;
        }
      }
    }
  }

  .footer {
    &-top {
      padding: 24px 0;
      flex-direction: column;
      .top-text {
        font-size: 28px;
        line-height: 36px;
        width: 100%;
        margin-right: 0;
        text-align: center;
      }
      .top-form {
        width: 100%;
        margin-top: 24px;
      }
    }

    &-middle {
      padding: 32px 0;
      flex-direction: column;
      .proff-img img {
        width: 326px;
      } 
      .left-text {
        margin-top: 24px;
      }
      .left {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin-bottom: 40px;
      }
      .right {
        width: 100%;
      }
    }
    &-bottom {
      padding: 26px 0;
      .left {
        width: 100%;
        justify-content: space-between;
        li {
          margin-right: 0;
        }
      }
      .up-btn {
        display: none;
      }
    }
  }
}

@media (max-width: 768px) {
  .main {
    .archive {
      &-tabs {
        .item-box {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
        }
        .archive-item {
          margin-top: 15px;
          width: 49%;
          flex-direction: column;
          .item-img {
            margin-right: 0;
            height: 200px;
            min-width: 100%;
            margin-bottom: 16px;
          }
          .item-info {
            padding: 24px 24px 20px;
            .info-name {
              font-size: 18px;
              span:last-child {
                padding-left: 35px;
                &::before {
                  content: url(../img/svg/play-circles2svg.svg);
                }
              }
            }
            .info-text {
              font-size: 16px;
              line-height: 22px;
              margin: 16px 0 24px;
              -webkit-line-clamp: 2;
            }
            .info-list {
              font-size: 14px;
              line-height: 14px;
              margin-right: 8px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .title-text {
    font-size: 24px;
    line-height: 30px;
  }
  .main {
    .parallax {
      padding: 16px 0;
      background-image: none;
      .parallax-bg {
        background-image: none;
        position: relative;
        &::before {
          content: url(../img/svg/icon-l.svg);
          position: absolute;
          top: 0;
          left: 0;
        }
        &::after {
          content: url(../img/svg/icon-r.svg);
          position: absolute;
          top: 0;
          right: 0;
        }
      }
      .title-text {
        position: relative;
        z-index: 2;
        img {
          width: 345px;
        }
      }
      .suptitle-text {
        font-size: 18px;
        line-height: 32px;
        position: relative;
        z-index: 2;
      }
      .parallax-bg {
        height: 164px;
        .object {
          display: none;
        }
      }
    }

    .block2 {
      .title-text {
        img {
          width: 33px;
          margin-right: 16px;
        }
      }
      .block2-box {
        .box-left {
          width: 100%;
        }
        .box-right {
          padding: 32px;
          &-info {
            text-align-last: center;
            padding-right: 0;
          }
          .left-img {
           display: none;
          }
          &-btn {
            display: flex;
            justify-content: center;
          }
        }
      }
    }

    .prof-parallax {
      .parallax-bg {
        height: auto;
        padding: 50px 15px;
        .object {
          display: none;
        }
        position: relative;
        &::before {
          content: url(../img/svg/icon-l1.svg);
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
        }
        &::after {
          content: url(../img/svg/icon-1.svg);
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 0;
        }
      }
      .form {
        flex-direction: column;
        padding: 0 18px;
        .select {
          width: 100%;
        }
        .form-btn {
          width: 100%;
          margin-top: 16px;
        } 
      }
    }

    .form-page {
      padding: 0 0 22px;
      .form {
        width: 100%;
        .title-text {
          font-size: 28px;
          line-height: 36px;
        }
      }
    }

    .contact {
      &-top {
        margin-top: 24px;
        flex-direction: column-reverse;
        align-items: start;
        .title-text {
          width: 100%;
          margin-top: 24px;
        }
      }
      &-item {
        margin: 24px 0 8px;
        .item {
          width: 100%;
          margin-bottom: 16px;
        }
      }
      
      .form {
        padding: 0 24px 24px;
        .input-box,
        .select {
          width: 100%;
        }
        .select {
          .options {
            top: 110%;
          }
        }
        .form__btn  {
          margin: 22px 0 0;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .container {
    padding: 0 15px;
  }
  .header {
    &-link {
      display: none;
    }
    .menu-btn {
      width: 40px;
      height: 40px;
    }
    .user-box {
      .user-avatar {
        width: 40px;
        height: 40px;
      }
    }
    .menu {
      padding-top: 80px;
      &-content {
        width: 97%;
        position: relative;
        padding: 30px 0 20px 15px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
      }
      .menu-close {
        position: absolute;
        top: 10px;
        right: 10px;
      }
      &-title {
        font-size: 30px;
        line-height: 36px;
        padding-left: 0;
      }
      .menu-nav {
        margin-top: 10px;
        padding-right: 8px;
        margin-right: 8px;
        li {
          padding: 10px 16px;
          font-size: 18px;
          line-height: 24px;
        }
      }
      .header-link {
        display: flex;
        width: 100%;
      }
    }
  }

  .main {
    .banner {
      .banner-box {
        padding: 24px 15px;
      }
    }

    .block1 {
      &-box {
        grid-template-columns: repeat(1, 1fr);
        padding: 16px 15px 0;
      }
      &-png img {
        height: 196px;
      }
    }

    .block2 {
      .block2-box {
        .box-right {
          &-btn {
            flex-direction: column;
          }
          .take-part {
            width: 100%;
          }
          .project-rules {
            width: 100%;
            margin-top: 8px;
          }
        }
      }
    }

    .block3 {
      .banner-box {
        padding-right: 0;
      }
      .title-text,
      .info-text {
        padding-right: 15px;
      }
      .block3-box {
        margin-right: 15px;
        .box-right {
          .take-part {
            width: 100%;
            margin-right: 0;
          }
          .project-rules {
            width: 100%;
            margin-top: 8px;
            justify-content: center;
          }
        }
      }
      .archive {
        .swiper {
          margin: 24px 0;
        }
        .archive-pagination {
          display: flex;
        }
        .btn-base {
          width: 97%;
        }
      }
    }

    .prof-parallax {
      .parallax-title {
      font-size: 28px;
      line-height: 36px;
    }
      .form {
        margin-top: 40px;
        .select {
          width: 100%;
          &-head {
            span {
              &:first-child {
                position: absolute;
                top: -25px;
                left: 0;
              }
            }
          }
        }
      }
    }

    .block4 {
      .banner-box {
        padding-right: 0;
      }
      .btn-base {
        width: 97%;
      }
      .block4-pagination {
        display: flex;
      }
      .swiper-wrapper {
        grid-gap: 0;
        margin: 24px 0;
        display: flex;
        .swiper-slide {
          img {
            height: 260px;
          } 
          &:nth-child(1) {
            img {
              height: 260px;
            }
            grid-column-start: 1;
            grid-column-end: 1;
            grid-row-start: 1;
            grid-row-end: 1;
          }
        }
      }
    }

    .archive {
        &-top {
          padding-right: 15px;
          .select {
            width: 52px;
            height: 52px;
            &-head {
              width: 52px;
              height: 52px;
              div:first-child {
                display: none;
              }
              svg:first-child {
                display: none;
              }
              svg:last-child {
                display: block;
              }
            }
            .options {
              width: 200px;
            }
          }
          .input-box {
            svg {
              left: 16px;
            }
            .form__inp {
              padding: 0 15px 0 45px;
              font-size: 16px;
            }
          }
        }
        &-tabs {
          .item-box {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
          }
          .tab-btns {
            .tab-btn {
              margin-right: 12px;
              span {
                font-size: 14px;
                line-height: 14px;
              }
            }
          }
          .tab-item {
            padding-right: 15px;
            margin-bottom: 16px;
          }
          .archive-item {
            margin-top: 16px;
            width: 100%;
            .item-img {
              height: 194px;
            }
          }
        }
    }

    .notfound {
      &-box {
        padding-bottom: 32px;
        .title-text {
          margin-top: 30px;
          font-size: 28px;
        }
      }
    }

    .form-page {
      .form {
        .title-text {
          margin-bottom: 0;
        }
        .input-box {
          margin: 0;
          margin-top: 44px;
          label {
            top: -28px;
            left: 0;
            font-size: 14px;
            line-height: normal;
          }
          .form__inp {
            padding: 0 18px;
            font-size: 16px;
          }
        }
        .form-file {
          .upload-file-text {
            span:first-child {
              position: absolute;
              top: -28px;
              left: 0;
              font-size: 14px;
            }
          }
        }
        .check-box {
          margin-top: 18px;
        }
      }
    }

    .profile {
      .profile-box {
        border: none;
      }
      .profile-item {
       padding: 0;
       .user-box {
         .user-avatar {
           width: 46px;
           height: 46px;
         }
         .user-name {
           font-size: 18px;
           line-height: 24px;
         }
         .user-phone {
           font-size: 14px;
         }
       }
      }
      .form {
        padding: 0;
        .form__btn  {
          margin-top: 24px;
        }
        
        .subscription {
          width: 100%;
          margin-bottom: 0;
          margin-top: 16px;
          &:first-child {
            margin-top: 24px;
          }
          &-title {
            font-size: 18px;
            line-height: 24px;
          }
          &-text {
            font-size: 16px;
            line-height: 22px;
            margin: 24px 0;
          }
          &-data {
            font-size: 15px;
            margin-right: 0;
            margin-bottom: 24px;
          }
          &-info {
            flex-direction: column;
            align-items: start;
          }
        }
      }
    }

    .contact {
      .form {
        .select {
          margin-top: 42px;
          margin-bottom: 0;
          &-head {
            span {
              &:first-child {
                position: absolute;
                top: -25px;
                left: 0;
                font-size: 14px;
                line-height: normal;
              }
            }
          }
        }
        .text-box {
          margin-top: 42px;
          label {
            top: -28px;
            left: 0;
            font-size: 14px;
            line-height: normal;
          }
          textarea {
            text-indent: 0;
            padding: 16px;
            height: 54px;
          }
        }
      }
    }
  }

  .footer {
    &-top {
      .top-text {
        font-size: 18px;
        line-height: 26px;
      }
      .top-form {
        flex-direction: column;
        .form-btn {
          width: 100%;
          margin-top: 16px;
          justify-content: space-between;
        }
      }
    }

    &-middle {
      padding: 32px 0;
      flex-direction: column;
      .proff-img img {
        width: 100%;
      } 
      .left-text {
        margin-top: 24px;
        width: 214px;
        text-align: center;
      }
      .right {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        .item {
          margin-bottom: 40px;
          &:last-child {
            margin-bottom: 0;
          }
          &-nav {
            margin-top: 24px;
            display: flex;
            flex-direction: column;
            align-items: center;
          }
        }
      }
    }
    &-bottom {
      padding: 24px 0;
      .left {
        flex-direction: column;
        text-align: center;
        li {
         margin-bottom: 16px;
         &:last-child {
          margin-bottom: 0;
         }
        }
      }
    }
  }
}

@media (max-width: 370px) {
  .main {
    .parallax {
      .title-text {
        img {
          width: 290px;
        }
      }
      .suptitle-text {
        font-size: 15px;
        line-height: 24px;
      }
    }
  }
}