@media (max-width: 1300px) {
  body {
    font-size: 16px;
    line-height: 24px;
  }
  .title-text {
    font-size: 28px;
    line-height: 34px;
  }
  .subtitle-text {
    font-size: 20px;
    line-height: 28px;
  }
   
  .header {
    &-nav {
      li {
        margin-right: 20px;
        font-size: 16px;
      }
    }
    &-link {
      width: 220px;
      margin-right: 20px;
    }
  }


  .main {
    .parallax {
      .parallax-bg {
        .object {
          &:nth-child(1) {
            left: -3%;
          }
          &:nth-child(2) {
            left: -8%;
          }
          &:nth-child(3) {
            left: -5%;
          }
          &:nth-child(4),
          &:nth-child(5),
            &:nth-child(6) {
              left: 8%;
          }
        }
      }
    }

    .block2 {
      .title-text img {
        width: 32px;
      }
      .block2-box {
        margin-top: 24px;
        .box-left {
          .left-info {
            .subtitle-text {
              span:last-child {
                &::before {
                  top: 0px;
                }
              }
            }
          }
        }
        .box-right {
          .left-img {
            img {
              width: 149px;
              height: 149px;
            }
          }
          .subtitle-text {
            margin: 24px 0 20px;
          }
          .take-part {
            width: 205px;
            margin: 24px 0 10px;
          }
          .project-rules {
            width: 205px;
          }
        }
      }
    }

    .block3 {
      .info-text {
        margin-top: 18px;
      }
      .block3-box {
        margin: 24px 0;
        .box-right {
          width: 49%;
          border-radius: 12px;
          border: 1px solid #E8ECF3;
          padding: 24px;
          .subtitle-text {
            span:last-child {
              &::before {
                top: 0px;
              }
            }
          }
        }
      }
      .archive {
        &-box {
          grid-gap: 17px;
          margin: 24px 0 16px;
        }
        &-item {
          .item-img img {
            height: 173px;
          }
          .item-info {
            padding: 24px;
            .info-title {
              font-size: 18px;
              line-height: 24px;
            }
            .info-text {
              margin: 16px 0 24px;
            }
            .info-list {
              font-size: 14px;
              line-height: 14px;
              margin-right: 8px;
              &:last-child {
                margin-right: 0;
              }
            }
          }
        }
      }
    }

    .prof-parallax {
      .parallax-bg {
        height: 320px;
      }
    }

    .block4 {
      .swiper-wrapper {
        grid-gap: 16px;
        margin: 26px 0 24px;
        .swiper-slide {
          img {
            width: 100%;
            height: 170px;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) { 
  .header {
    &-box {
      padding: 24px 0;
    }
    &-nav {
      display: none;
    }
    .btn-base {
      display: none;
    }
    &-link {
      width: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      white-space: nowrap;
      padding: 20px 30px;
      border-radius: 8px;
      border: 1.3px solid #EBEFF8;
      font-size: 16px;
      line-height: 16px;
      font-weight: 500;
      span {
        color: #FE1E25;
        display: inline-block;
        margin-right: 6px;
      }
    }
    .menu-btn {
      display: flex;
    }
    .user-box {
      .user-avatar {
        margin-right: 0;
      }
      .user-box-info {
        display: none;
      }
    }
    .menu {
      &-title {
        font-size: 32px;
        line-height: 40px;
      }
      .projects {
        .menu-title {
          display: flex;
          align-items: center;
          position: relative;
          &::before {
            content: url(../img/svg/back-to.svg);
            margin-right: 15px;
            margin-top: 5px;
          }
          span {
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
          }
        }
      }
    }
  }

  .main {
    .parallax {
      .title-text {
        img {
          width: 650px;
        }
      }
      .suptitle-text {
        font-size: 32px;
        line-height: 44px;
      }
      .parallax-bg {
        .object {
          &:nth-child(1) {
            left: -3%;
          }
          &:nth-child(2) {
            left: -11%;
            top: 10%;
          }
          &:nth-child(3) {
            left: -7%;
            top: -8%;
          }
          &:nth-child(6) {
              left: 10%;
          }
          &:nth-child(5),
            &:nth-child(4) {
              left: 15%;
          }
        }
      }
    }

    .banner {
      margin-top: 24px;
      .container {
        padding: 0;
      }
    }

    .block1 {
      .container {
        padding: 0;
      }
      &-box {
        grid-gap: 16px;
        padding: 0 32px;
      }
      &-png img {
        height: 194px;
      }
    }
    
    .block2 {
      .block2-box {
        .box-left {
          width: 60%;
        }
        .box-right {
          width: 38%;
        }
      }
    }

    .prof-parallax {  
      .parallax-title {
      font-size: 36px;
      line-height: 44px;
    }
    .parallax-subtitle {
      margin: 24px 0;
    }
      .parallax-bg {
        height: 320px;
        .object {
          &:nth-child(1) {
            left: -2%;
          }
          &:nth-child(2) {
            left: -6%;
          }
          &:nth-child(3) {
            left: -4%;
          }
          &:nth-child(6) {
            left: 4%;
          }
          &:nth-child(4) {
            left: 7%;
          }
          &:nth-child(5) {
            left: 5%;
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .container {
    padding: 0 20px;
  }

  .header {
    &-box {
      padding: 16px 0;
    }
    .menu {
      padding-top: 91px;
    }
  }

  .main {
    .parallax {
      .title-text {
        img {
          width: 595px;
        }
      }
      .suptitle-text {
        font-size: 30px;
        line-height: 36px;
      }
    } 

    .banner {
      .banner-box {
        padding: 24px 20px;
      }
    }
    
    .block1 {
      &-box {
        padding: 16px 20px 0;
      }
    }

    .block2 {
      .block2-box {
        .box-left {
          width: 100%;
        }
        .box-right {
          width: 100%;
          margin-top: 16px;
          flex-direction: row-reverse;
          &-info {
            text-align-last: left;
            padding-right: 28px;
          }
          .left-img {
            img {
              min-width: 209px;
              min-height: 209px;
            }
          }
          .subtitle-text {
            margin: 0;
            margin-bottom: 24px;
          }
          &-btn {
            display: flex;
            margin-top: 24px;
          }
          .take-part {
            width: 185px;
            margin: 0 28px 0 0;
          }
          .project-rules {
            width: auto;
          }
        }
      }
    }

    .block3 {
      .info-text {
        margin-top: 18px;
      }
      .block3-box {
        .box-img {
          width: 100%;
        }
        .box-right {
          width: 100%;
          border-radius: 12px;
          border: 1px solid #E8ECF3;
          padding: 24px;
          .subtitle-text {
            span:last-child {
              &::before {
                top: 0px;
              }
            }
          }
        }
      }
      .archive {
        &-box {
          grid-gap: 17px;
          margin: 24px 0 16px;
        }
        &-item {
          .item-img img {
            height: 173px;
          }
          .item-info {
            padding: 24px;
            .info-title {
              font-size: 18px;
              line-height: 24px;
            }
            .info-text {
              margin: 16px 0 24px;
            }
            .info-list {
              font-size: 14px;
              line-height: 14px;
              margin-right: 8px;
              &:last-child {
                margin-right: 0;
              }
            }
          }
        }
      }
    }

    .prof-parallax {
      .parallax-title {
      font-size: 32px;
      line-height: 40px;
    }
      .parallax-bg {
        height: 320px;
        .object {
          &:nth-child(1) {
            display: none;
          }
          &:nth-child(2) {
            display: none;
          }
          &:nth-child(3) {
            top: 12%;
            left: -12%;
          }
          &:nth-child(6) {
            display: none;
          }
          &:nth-child(4) {
            top: -15%;
            left: 7%;
          }
          &:nth-child(5) {
            left: 10%;
            top: 12%;
          }
        }
      }
    }

    .block4 {
      .swiper-wrapper {
        grid-gap: 16px;
        margin: 24px 0 16px;
        .swiper-slide {
          img {
            width: 100%;
            height: 128px;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .title-text {
    font-size: 24px;
    line-height: 30px;
  }
  .main {
    .parallax {
      background-image: none;
      position: relative;
      &::before {
        content: url(../img/svg/icon-l.svg);
        position: absolute;
        top: 0;
        left: 0;
      }
      &::after {
        content: url(../img/svg/icon-r.svg);
        position: absolute;
        top: 0;
        right: 0;
      }
      .title-text {
        position: relative;
        z-index: 2;
        img {
          width: 345px;
        }
      }
      .suptitle-text {
        font-size: 18px;
        line-height: 32px;
        position: relative;
        z-index: 2;
      }
      .parallax-bg {
        height: 164px;
        .object {
          display: none;
        }
      }
    }

    .block2 {
      .title-text {
        img {
          width: 33px;
          margin-right: 16px;
        }
      }
      .block2-box {
        .box-left {
          width: 100%;
        }
        .box-right {
          padding: 32px;
          &-info {
            text-align-last: center;
            padding-right: 0;
          }
          .left-img {
           display: none;
          }
          &-btn {
            display: flex;
            justify-content: center;
          }
        }
      }
    }

    .prof-parallax {
      .parallax-bg {
        height: auto;
        padding: 50px 15px;
        .object {
          display: none;
        }
        position: relative;
        &::before {
          content: url(../img/svg/icon-l1.svg);
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
        }
        &::after {
          content: url(../img/svg/icon-1.svg);
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 0;
        }
      }
      .form {
        flex-direction: column;
        padding: 0 18px;
        .select {
          width: 100%;
        }
        .form-btn {
          width: 100%;
          margin-top: 16px;
        } 
      }
    }
  }
}

@media (max-width: 576px) {
  .container {
    padding: 0 15px;
  }
  .header {
    &-link {
      display: none;
    }
    .menu {
      padding-top: 87px;
      &-content {
        width: 100%;
        position: relative;
      }
      .header-link {
        display: flex;
        position: absolute;
        width: 95%;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
      }
    }
  }

  .main {
    .banner {
      .banner-box {
        padding: 24px 15px;
      }
    }

    .block1 {
      &-box {
        grid-template-columns: repeat(1, 1fr);
        padding: 16px 15px 0;
      }
      &-png img {
        height: 196px;
      }
    }

    .block2 {
      .block2-box {
        .box-right {
          &-btn {
            flex-direction: column;
          }
          .take-part {
            width: 100%;
          }
          .project-rules {
            width: 100%;
            margin-top: 8px;
          }
        }
      }
    }

    .block3 {
      .banner-box {
        padding-right: 0;
      }
      .title-text,
      .info-text {
        padding-right: 15px;
      }
      .block3-box {
        margin-right: 15px;
        .box-right {
          .take-part {
            width: 100%;
            margin-right: 0;
          }
          .project-rules {
            width: 100%;
            margin-top: 8px;
            justify-content: center;
          }
        }
      }
      .archive {
        .swiper {
          margin: 24px 0;
        }
        .archive-pagination {
          display: flex;
        }
        .btn-base {
          width: 97%;
        }
      }
    }

    .prof-parallax {
      .parallax-title {
      font-size: 28px;
      line-height: 36px;
    }
      .form {
        margin-top: 40px;
        .select {
          width: 100%;
          &-head {
            span {
              &:first-child {
                position: absolute;
                top: -25px;
                left: 0;
              }
            }
          }
        }
      }
    }

    .block4 {
      .banner-box {
        padding-right: 0;
      }
      .btn-base {
        width: 97%;
      }
      .block4-pagination {
        display: flex;
      }
      .swiper-wrapper {
        grid-gap: 0;
        margin: 24px 0;
        display: flex;
        .swiper-slide {
          img {
            height: 260px;
          } 
          &:nth-child(1) {
            img {
              height: 260px;
            }
            grid-column-start: 1;
            grid-column-end: 1;
            grid-row-start: 1;
            grid-row-end: 1;
          }
        }
      }
    }
  }
}

@media (max-width: 370px) {
  .main {
    .parallax {
      .title-text {
        img {
          width: 290px;
        }
      }
      .suptitle-text {
        font-size: 15px;
        line-height: 24px;
      }
    }
  }
}