@import './_font';
@import './_colors';

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
  font-family: "ProbaPro",sans-serif;
  font-feature-settings: "onum" off, "pnum" off, "lnum" on, "tnum" on;
  -moz-font-feature-settings: "onum=0, pnum=0, lnum=1, tnum=1";       /* Firefox */
  -webkit-font-feature-settings: "onum" off, "pnum" off, "lnum" on, "tnum" on;  /* WebKit */
  -o-font-feature-settings: "onum" off, "pnum" off, "lnum" on, "tnum" on;  
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    vertical-align: middle;
    overflow-x: hidden;
    color: $dark;
  }
  
  .bodyStopScroll {
    overflow: hidden;
    height: 100vh;
  }
  
  ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  a:hover {
    color: inherit;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
  }
  
  button {
    outline: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
  input, textarea, select, button {
    border: none;
    outline: none;
  }
  
  .container {
    max-width: 1440px;
    padding: 0 32px;
    margin: 0 auto;
  }

  .text-center {
    text-align: center;
  }
  .d-flex {
    display: flex;
  }
  .d-none {
    display: none;
  }
  .align-center {
    align-items: center;
  }
  .justify-center {
    justify-content: center;
  }
  .justify-between {
    justify-content: space-between;
  }
  .justify-end {
    justify-content: end;
  }
  .flex-column {
    flex-direction: column;
  }
  .flex-wrap {
    flex-wrap: wrap;
  }
  .pointer {
    cursor: pointer;
  }

  .title-text {
    font-size: 34px;
    line-height: 40px;
    font-weight: 500;
    span {
      color: $base;
    }
  }
  .subtitle-text {
    font-size: 28px;
    line-height: 36px;
    font-weight: 500;
  }

  .btn-base {
    width: 100%;
    height: 52px;
    font-weight: 600;
    background: $base;
    color: $white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background: #EC3B43;
      color: $white;
    }
    &:active {
      background: #DD171D;
    }
  }

  .select {
    width: 100%;
    position: relative;
    white-space: nowrap;
    &-head {
      width: 100%;
      height: 52px;
      border-radius: 8px;
      border: 1px solid #EBEEF2;
      background: $white;
      padding: 16px;
      color: #696F79;
      cursor: pointer;
      span {
        display: inline-block;
        margin-right: 16px;
        &:last-child {
          margin-right: 5px;
        }
      }
      .select-active {
        color: #131313;
      }
    }
    .options {
      position: absolute;
      top: 110%;
      right: 0;
      width: 100%;
      background: $white;
      border: 1px solid #EBEEF2;
      border-radius: 8px;
      overflow: hidden;
      z-index: 5;
      display: none;
      .option {
        padding: 10px 22px;
        text-align-last: left;
        cursor: pointer;
        &:hover {
          background: #F6F8FC;
        }
      }
    }
  }

  .showSelect {
    .select-head {
      svg {
        transform: rotate(180deg);
      }
    }
    .options {
      display: block;
    }
  }

  .input-box,
  .text-box {
    position: relative;
    width: 100%;
    .form__inp {
      width: 100%;
      height: 52px;
      border-radius: 8px;
      border: 1px solid #EBEEF2;
      font-size: 17px;
      &::placeholder {
        color: $dark;
      }
      &:focus {
        caret-color: $base;
        border-color: #C8CFDA;
      }
    }
    label {
      position: absolute;
      top: 15px;
      left: 16px;
      color: #696F79;
    }
    .error {
      position: absolute;
      top: 17px;
      right: 25px;
    }
    .error-text {
      color: #FE1E25;
      font-size: 15px;
      display: inline-block;
      margin-top: 5px;
    }
    .view-pass {
      position: absolute;
      top: 17px;
      right: 16px;
      cursor: pointer;
      img:last-child {
        display: none;
      }
    }
    .showPass {
      img:last-child {
        display: block;
      }
      img:first-child {
        display: none;
      }
    }
  }

  .text-box {
    margin-bottom: 18px;
    textarea {
      width: 100%;
      height: 187px;
      border-radius: 8px;
      border: 1px solid #EBEEF2;
      background: #FFF;
      resize: none;
      font-size: 17px;
      padding: 20px;
      text-indent: 140px;
      &:focus {
        caret-color: $base;
        border-color: #C8CFDA;
      }
    }
    label {
      top: 20px;
      left: 16px;
    }
  }

  .form-file {
    width: 100%;
    height: 54px;
    border-radius: 10px;
    border: 1px solid #EBEEF2;
    padding: 15px 16px;
    .form__file {
      display: none;
    }
    .help {
      position: absolute;
      top: 17px;
      right: 16px;
      cursor: pointer;
      z-index: 3;
    }
    label {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 2;
      cursor: pointer;
    }
    .upload-file-text {
      span:first-child {
        color: $text;
        display: inline-block;
        margin-right: 20px;
      }
    }
  }

  .check-box {
    display: flex;
    align-items: start;
    .check {
      width: 16px;
      height: 16px;
      margin-right: 16px;
      appearance: none;
      cursor: pointer;
      &::before {
        content: url(../img/svg/no-check.svg);
      }
      &:checked::before {
        content: url(../img/svg/checked.svg);
      }
    }
    label {
      cursor: pointer;
      font-size: 15px;
      line-height: normal;
      color: $text;
    }
  }

  .swiper-btns {
    .btn {
      position: relative;
      top: 0;
      transform: none;
      margin: 0;
      cursor: pointer;
      &:first-child {
        margin-right: 8px;
      }
      &:hover svg path {
        fill: $base;
      }
    }
  }

  .header {
    &-box {
      padding: 25px 0;
      border-bottom: 1px solid $light;
      position: relative;
      z-index: 100;
      background: $white;
    }

    .menu-btn {
      width: 54px;
      height: 54px;
      padding: 15px;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      border: 1.3px solid #EBEFF8;
      display: none;
      position: relative;
      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &:last-child {
          display: none;
        }
      }
    }
    .clickBtn {
      svg {
        &:first-child {
          display: none;
        }
        &:last-child {
          display: block;
        }
      }
    }
    &-nav {
      li {
        font-weight: 500;
        margin-right: 48px;
        cursor: pointer;
        font-weight: 500;
        transition: .3s all;
        &:hover {
          color: $base;
        }
        &:last-child {
          margin-right: 0;
        }
        span {
          display: inline-block;
          margin-right: 6px;
        }
      }
    }
    .projects-btn svg {
      transition: .3s all;
    }
    .clickPr-btn svg {
      transform: rotate(45deg);
    }
    &-link {
      width: 260px;
      margin-right: 24px;
    }
    .user-box {
      .user-avatar {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 16px;
      }
      .user-name {
        display: inline-block;
        font-size: 16px;
        line-height: normal;
        margin-right: 8px;
        font-weight: 500;
      }
      .user-logout {
        font-size: 15px;
        line-height: normal;
        color: #696F79;
        cursor: pointer;
        &:hover {
          color: $base;
        }
      }
    }

    .menu {
      position: absolute;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      background: #0008;
      z-index: 99;
      padding-top: 103px;
      .header-link {
        display: none;
      }
      &-content {
        width: 500px;
        height: 100%;
        background: $white;
        padding: 32px 0 20px 20px;
        animation: anim-menu .3s linear;
        position: relative;
      }
      .menu-close {
        position: absolute;
        top: 20px;
        right: 20px;
        &:hover svg path {
          stroke: $base;
        }
      }
      &-title {
        font-size: 36px;
        line-height: 44px;
        font-weight: 500;
        padding-left: 16px;
      }
      .menu-nav {
        margin-top: 16px;
        padding-right: 10px;
        margin-right: 10px;
        overflow-y: scroll;
        max-height: 65vh;
        &::-webkit-scrollbar {
          width: 6px;
          border-radius: 10px;
          background: $white;
        }
        &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          background: $base;
        }
        li {
          padding: 12px 16px;
          border-radius: 6px;
          background: $white;
          transition: .3s all;
          font-size: 20px;
          line-height: 28px;
          font-weight: 500;
          display: flex;
          align-items: center;
          justify-content: space-between;
          cursor: pointer;
          &::after {
            content: url(../img/svg/link-arrow.svg);
          }
          &:hover {
            background: $base;
            color: $white;
          }
        }
      }
    }

    @keyframes anim-menu {
      from {
        margin-left: -500px;
      } to {
        left: 0;
      }
    }
  }



  .main {
    background: #F6F8FC;
    padding-bottom: 32px;

    .head-page {
      color: $text;
      font-size: 15px;
      line-height: 15px;
      a {
        padding: 8px 12px;
        border-radius: 25px;
        background: #F6F8FC;
        display: flex;
        margin-right: 20px;
        &:hover {
          color: $base;
        }
      }
    }

    // page home****************
    .parallax {
      padding: 24px 0;
      background: #fff;
      border-radius: 0 0 16px 16px;
      overflow: hidden;
      .suptitle-text {
        font-size: 36px;
        line-height: normal;
        font-weight: 500;
      }
      .parallax-bg {
        width: 100%;
        height: 256px;
        position: relative;
        background: $white url(../img/webp/par-bg.webp);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        .object {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          img {
            width: 100%;
            height: 256px;
            object-fit: contain;
            object-position: left;
          }
          &:nth-child(2) {
            left: -2%;
          }
          &:nth-child(4),
          &:nth-child(5),
            &:nth-child(6) {
            img {
              object-position: right;
            }
          }
        }
      }
    }

    .banner {
      margin-top: 32px;
      .container {
        padding: 0 20px;
      }
      .banner-box {
        padding: 32px;
        border-radius: 16px;
        background: $white;
      }
    }

    .block1 {
      background: $white;
      padding-bottom: 32px;
      border-radius: 0px 0px 18px 18px;
      margin-top: -24px;
      &-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 24px;
        padding: 0 20px;
      }
      &-png img {
        width: 100%;
        height: 275px;
        border-radius: 12px;
        object-fit: cover;
      }
    }

    .project-rules {
      width: 100%;
      height: 52px;
      border-radius: 8px;
      background: $white;
      border: 1px solid $white;
      padding: 0 30px;
      font-weight: 500;
      span {
        display: inline-block;
        margin-right: 8px;
      }
      &:hover {
        border-color: rgba(254, 30, 37, 0.25);
        color: $base;
        svg path {
          stroke: $base;
        }
      }
      &:active {
        background: rgba(254, 30, 37, 0.25);
      }
    }

    .block2 {
      .title-text {
        display: flex;
        align-items: center;
        img {
          margin-right: 24px;
        }
      }
      .block2-box {
        margin-top: 32px;
        .box-left {
          width: 65%;
          .left-img img {
            width: 100%;
            object-fit: cover;
            border-radius: 12px;
          }
          .left-info {
            border-radius: 12px;
            border: 1px solid #E8ECF3;
            padding: 32px;
            padding-right: 90px;
            padding: 24px 47px 42px 32px;
            margin-top: 24px;
            .subtitle-text {
              span:last-child {
                position: relative;
                padding-left: 45px;
                &::before {
                  content: url(../img/svg/play-circlesvg.svg);
                  position: absolute;
                  left: 5px;
                  top: 5px;
                }
              }
            }
          }
        }
        .box-right {
          width: 33%;
          height: auto;
          border-radius: 12px;
          border: 1px solid #E8ECF3;
          padding: 34px 27px 25px;
          .left-img {
            img {
              width: 236px;
              height: 236px;
              border-radius: 50%;
              object-fit: cover;
            }
          }
          .subtitle-text {
            margin: 24px 0 20px;
          }
          .take-part {
            margin: 32px 0 16px;
          }
        }
      }
    }

    .swiper-pagination-bullet {
      background: #D0D0D0;
      opacity: 1;
      transition: .3s all;
    }
    .swiper-pagination-bullet-active {
      width: 32px;
      height: 8px;
      border-radius: 14px;
      background: #696F79;
    }

    .block3 {
      .info-text {
        margin-top: 24px;
      }
      .block3-box {
        margin: 32px 0;
        .box-img {
          width: 49%;
          img {
            width: 100%;
            object-fit: contain;
            border-radius: 12px;
          }
        }
        .box-right {
          width: 49%;
          border-radius: 12px;
          border: 1px solid #E8ECF3;
          padding: 36px 32px 42px;
          .subtitle-text {
            span:last-child {
              position: relative;
              padding-left: 45px;
              &::before {
                content: url(../img/svg/play-circlesvg.svg);
                position: absolute;
                left: 5px;
                top: 5px;
              }
            }
          }
          .info-text {
            margin-bottom: 16px;
          }
          .take-part {
            width: 202px;
            margin: 0;
          }
          .take-part {
            margin-right: 12px;
          }
          .project-rules {
            width: auto;
            white-space: nowrap;
          }
        }
      }
      .archive {
        .swiper {
          margin: 32px 0;
        }
        .archive-pagination {
          display: none;
          align-items: center;
          justify-content: center;
          margin-top: 24px;
        }
        &-item {
          .item-img img {
            width: 100%;
            height: 242px;
            border-radius: 12px;
            object-fit: cover;
          }
          .item-info {
            margin-top: 16px;
            border-radius: 12px;
            border: 1.3px solid #EEE;
            padding: 24px 40px 32px 32px;
            .info-title {
              font-size: 20px;
              line-height: 28px;
              font-weight: 500;
            }
            .info-text {
              margin: 18px 0 24px;
            }
            .info-list {
              padding: 12px 16px;
              border-radius: 50px;
              background: #F6F8FC;
              font-size: 15px;
              line-height: 15px;
              color: #696F79;
              margin-right: 12px;
              &:last-child {
                margin-right: 0;
              }
            }
          }
        }
      }
    }

    .prof-parallax {
      margin: 32px 0;
      .parallax-title {
        font-size: 48px;
        line-height: normal;
        font-weight: 500;
        span {
          color: $base;
        }
      }
      .parallax-subtitle {
        margin: 28px 0;
      }
      .parallax-info {
        max-width: 670px;
        position: relative;
        z-index: 3;
      }
      .form {
        margin-top: 28px;
        .select {
          width: 62%;
        }
        .form-btn {
          width: 36%;
        } 
      }
      .parallax-bg {
        width: 100%;
        background: $white url(../img/webp/pr-bg.webp);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 430px;
        position: relative;
        padding: 32px;
        border-radius: 16px;
        .objects {
          width: 100%;
          height: 100%;
          overflow: hidden;
          position: absolute;
          top: 0;
          left: 0;
        }
        .object {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: left;
          }
          &:nth-child(4),
          &:nth-child(5),
            &:nth-child(6) {
            img {
              object-position: right;
            }
          }
        }
      }
    }

    .block4 {
      .block4-pagination {
        display: none;
        align-items: center;
        justify-content: center;
        margin-bottom: 26px;
      }
      .swiper-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 24px;
        margin: 32px 0 24px;
        .swiper-slide {
          width: 100%;
          img {
            width: 100%;
            height: 236px;
            border-radius: 12px;
            object-fit: cover;
          }
          &:nth-child(1) {
            img {
              height: 100%;
            }
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 3;
          }
        }
      }
    }

    // page archive **************
    .archive {
      &-top {
        margin: 24px 0;
        padding-right: 32px;
        .input-box {
          margin-right: 16px;
          svg {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 20px;
          }
          .form__inp {
            padding: 0 20px 0 52px;
          }
        }
        .select {
          width: 429px;
          &-head {
            width: 429px;
            svg:last-child {
              display: none;
            }
          }
        }
      }
      .banner-box {
        padding-right: 0 !important;
      }
      &-tabs {
        .tab-btns {
          overflow-x: scroll;
          height: 52px;
          margin-bottom: 50px;
          &::-webkit-scrollbar {
            width: 0;
            display: none;
          }
          &::-webkit-scrollbar:horizontal {
            height: 10px;
          }
          &::-webkit-scrollbar-track {
            background-color: transparentize(#ccc, 0.7);
            cursor: pointer;
          }
          &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background: transparentize(#ccc, 0.5);
            box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
          }
          &:hover::-webkit-scrollbar {
            display: block;
          }
          .tab-btn {
            margin-right: 16px;
            input {
              display: none;
            }
            span {
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 18px 24px;
              border-radius: 50px;
              background: #F6F8FC;
              font-size: 15px;
              line-height: 16px;
              white-space: nowrap;
              cursor: pointer;
              letter-spacing: -0.3px;
            }
            input:checked ~ span {
              background: #3B3B3B;
              color: #fff;
            }
          }
        }

        .tab-item {
          padding-right: 32px;
          margin-bottom: 24px;
        }
        .archive-item {
          margin-top: 24px;
          display: flex;
          .item-img {
            margin-right: 24px;
            min-width: 410px;
            height: 233px;
            img {
              width: 100%;
              height: 100%;
              border-radius: 12px;
              object-fit: cover;
            }
          }
          .item-info {
            border-radius: 12px;
            border: 1px solid #EBEEF2;
            padding: 24px 14px 24px 24px;
            .info-name {
              font-size: 20px;
              line-height: 28px;
              font-weight: 500;
              span:last-child {
                position: relative;
                padding-left: 45px;
                &::before {
                  content: url(../img/svg/play-circlesvg.svg);
                  position: absolute;
                  left: 5px;
                  top: 0px;
                }
              }
            }
            .info-text {
              margin: 16px 0 24px;
              letter-spacing: -0.3px;
              overflow-wrap: break-word;
              overflow: hidden;
              text-overflow: ellipsis;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              display: -webkit-box;
            }
            .info-list {
              padding: 12px 14px;
              border-radius: 50px;
              background: #F6F8FC;
              font-size: 15px;
              line-height: 15px;
              color: #696F79;
              margin-right: 26px;
            }
          }
        }
      }
    }


    // page 404 *********
    .notfound {
      margin: 0 !important;
      padding-top: 24px;
      .banner-box {
        padding-bottom: 75px;
      }
      &-box {
        text-align: center;
        picture{
          margin-top: 32px;
          max-width: 747px;
          img {
            width: 100%;
            object-fit: contain;
          }
        }
        .title-text {
          margin: 66px 0 16px;
        }
        .btn-base {
          width: 241px;
          margin-top: 24px;
        }
      }
    }

    // page policy **********
    .policy {
      margin: 0 !important;
      padding-top: 24px;
      .title-text {
        margin-top: 32px;
      }
      .policy-item {
        margin-top: 32px;
        .item-title {
          font-size: 20px;
          line-height: 24px;
          font-weight: 500;
          margin-bottom: 24px;
        }
        .item-list {
          li {
            margin-top: 24px;
          }
        } 
      }
      .btn-base {
        margin-top: 32px;
      }
    }

    // page form **********
    .form-page {
      background: $white;
      padding: 60px 0;
      .form {
        width: 565px;
        margin: 0 auto;
        .title-text {
          text-align: center;
          margin-bottom: 42px;
        }
        .input-box {
          margin-bottom: 20px;
        }
        .form__inp {
          padding: 0 20px 0 158px;
        }
        .form__btn {
          margin: 20px 0;
        }
        .account-info {
          font-size: 15px;
          line-height: normal;
          color: $text;
          a {
            color: $base;
          }
        }
      }
    }

    // page profile ******
    .profile {
      background: transparent;
      padding: 0;
      &-box {
        margin-top: 24px;
      }
      .profile-tab-box {
        width: 100%;
      }
      .profile-item {
        min-width: 305px;
        height: 335px;
        margin-right: 25px;
        border-radius: 12px;
        border: 1px solid #EBEEF2;
        padding: 24px 32px;
        .user-box {
          .user-avatar {
            width: 55px;
            height: 55px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 16px;
          }
          .user-name {
            font-size: 20px;
            line-height: 28px;
            font-weight: 500;
          }
          .user-phone {
            font-size: 15px;
            line-height: normal;
            color: $text;
            margin-top: 4px;
          }
        }
        .profile-tab-btns {
          margin: 24px 0;
          .profile-tab-btn {
            cursor: pointer;
            input {
              display: none;
            }
            span {
              display: flex;
              align-items: center;
              padding: 10px 17px;
              border-radius: 8px;
              font-weight: 500;
              color: $text;
              svg {
                margin-right: 15px;
              }
            }
            input:checked ~ span {
              background: $base;
              color: $white;
              svg path {
                fill: $white;
              }
            }
          }
        }
        .log-out {
          background: transparent;
          width: 70px;
          display: flex;
          align-items: center;
          color: $text;
          svg {
            margin-right: 16px;
          }
          &:hover {
            color: $base;
            svg path {
              fill: $base;
            }
          }
        }
      }
      .form {
        width: 100%;
        min-height: 584px;
        border-radius: 12px;
        border: 1px solid #EBEEF2;
        padding: 24px 32px;
        .title-text {
          text-align: left;
          margin-bottom: 32px;
        }
        .input-box {
          width: 49%;
        }
        .form-file {
          .upload-file-text span:first-child {
            margin-right: 96px;
          }
        }

        .subscription {
          width: 49%;
          padding: 36px 29px;
          border-radius: 12px;
          border: 1px solid #EBEFF8;
          color: #464B56;
          &-title {
            font-size: 20px;
            line-height: 28px;
            font-weight: 500;
            color: #131313;
          }
          &-text {
            margin: 24px 0 32px;
          }
          &-data {
            margin-right: 24px;
          }
          .subscription-switch {
            font-size: 15px;
            position: relative;
            input {
             appearance: none;
             position: absolute;
             width: 100%;
             height: 100%;
             cursor: pointer;
             z-index: 2;
            }
            .switch {
              width: 28px;
              height: 16px;
              border-radius: 36px;
              background: #696F79;
              margin-right: 8px;
              position: relative;
              &::before {
                content: '';
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background: #fff;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 3px;
                transition: .3s linear;
              }
            }
            input:checked ~ .switch {
              background: $base;
              &::before {
                left: 13px;
              }
            }
          }
        }
      }
    }

    // page contact *********
    .contact {
      padding: 0;
      &-top {
        margin-top: 32px;
        .title-text {
          width: 70%;
        }
        a {
          display: flex;
          margin-right: 12px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
      &-item {
        margin: 64px 0;
        .item {
          svg {
            margin-right: 24px;
          }
          span {
            font-size: 15px;
            line-height: normal;
            color: $text;
          }
          p {
            margin-top: 6px;
            font-size: 20px;
            line-height: 28px;
            font-weight: 500;
          }
        }
      }
      .form {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        border-radius: 12px;
        border: 1px solid #EBEFF8;
        padding: 32px;
        .input-box,
        .select {
          width: 49%;
        }
        .select {
          &-head {
            span {
              margin-right: 28px;
            }
          }
          .options {
            top: 88%;
          }
        }
        .form__btn  {
          margin: 28px 0 0;
        }
      }
    }

    // page photos *************
    .photos-page {
      .title-text {
        margin: 24px 0;
      }
      .photos-tab-btns {
        .tab-btn {
          margin-right: 10px;
          input {
            display: none;
          }
          span {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 16px 24px;
            border-radius: 50px;
            background: #F6F8FC;
            font-size: 15px;
            line-height: 16px;
            white-space: nowrap;
            cursor: pointer;
            letter-spacing: -0.3px;
          }
          input:checked ~ span {
            background: #3B3B3B;
            color: #fff;
            font-weight: 600;
          }
        }
      }
      .photos {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 24px;
        margin-top: 24px;
        &:first-child {
          margin-top: 32px;
        }
        picture {
          width: 100%;
          img {
            width: 100%;
            height: 236px;
            border-radius: 12px;
            object-fit: cover;
          }
          &:nth-child(1) {
            img {
              height: 100%;
            }
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 3;
          }
        }
        &:nth-child(even) {
          picture {
            &:nth-child(1) {
              grid-column-start: 1;
              grid-column-end: 1;
              grid-row-start: 1;
              grid-row-end: 1;
            }
            &:nth-child(5) {
              img {
                height: 100%;
              }
              grid-column-start: 3;
              grid-column-end: 5;
              grid-row-start: 1;
              grid-row-end: 3;
            }
          }
        }
      }
      .view-nore {
        margin-top: 24px;
      }
    }

    // about-page *************
    .about-page {
      .about-top {
        align-items: start;
        .about-name {
          padding: 12px 14px;
          border-radius: 30px;
          background: #F6F8FC;
          font-size: 15px;
          line-height: 15px;
          color: $text;
          margin-right: 56px;
          white-space: nowrap;
        }
        .title-text {
          width: 90%;
          margin-bottom: 24px;
        }
      }
      .about-circle {
        height: 354px;
        margin: 60px 0 45px;
        position: relative;
        .circle {
          width: 354px;
          height: 354px;
          background: $white;
          border: 1px solid #E8ECF3;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          flex-direction: column;
          position: absolute;
          // top: 0;
          p {
            max-width: 240px;
            letter-spacing: -0.34px
          }
          h3 {
            font-size: 36px;
            line-height: 44px;
            font-weight: 500;
            letter-spacing: -0.72px;
            span {
              color: $base;
            }
          }
          &:nth-child(1) {
            left: 0;
            z-index: 1;
            background: $base;
            color: #fff;
            font-size: 20px;
            line-height: 28px;
            font-weight: 600;
            p {
              letter-spacing: normal;
            }
          }
          &:nth-child(2) {
            left: 24%;
            z-index: 2;
          }
          &:nth-child(3) {
            left: 49%;
            z-index: 3;
          }
          &:nth-child(4) {
            right: 0;
            z-index: 4;
          }
        }
      }

      .about-project {
        .projects {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 24px;
          margin: 32px 0 60px;
          .project {
            border-radius: 12px;
            background: #F6F8FC;
            padding: 32px;
            &-title {
              margin: 32px 0 8px;
              font-size: 20px;
              line-height: 28px;
              font-weight: 500;
            }
            &-subtitle {
              color: $text;
              width: 90%;
            }
          }
        }
      }

      .pagination {
        display: none;
        justify-content: center;
        margin-top: 32px;
      }

      .about-review {
        .swiper-review {
          margin-top: 32px;
          .review {
            padding: 32px 32px 32px 95px;
            position: relative;
            border-radius: 12px;
            border: 1px solid #E8ECF3;
            &::before {
              content: url(../img/svg/“.svg);
              position: absolute;
              top: 32px;
              left: 32px;
            }
            .user-img {
              width: 63px;
              height: 63px;
              border-radius: 50%;
              object-fit: cover;
              margin-right: 24px;
            }
            .user-name {
              font-size: 20px;
              font-weight: 500;
              line-height: 28px;
            }
            .user-job {
              font-size: 15px;
              line-height: normal;
              letter-spacing: -0.3px;
              color: $text;
              margin: 8px 0 16px;
            }
            .review-text {
              color: #464B56;
            }
            .review-data {
              font-size: 15px;
              line-height: 15px;
              color: $text;
              padding: 12px 14px;
              border-radius: 30px;
              background: #F6F8FC;
              display: inline-block;
              margin-top: 24px;
            }
          }
        }
      }

      .about-partners {
        margin-top: 60px;
        .swiper-partner {
          margin-top: 32px;
        }
        .partner {
          text-align: center;
          font-size: 15px;
          line-height: normal;
          letter-spacing: -0.3px;
          color: $text;
          &-img {
            border-radius: 12px;
            border: 1px solid #EBEFF8;
            background: #FFF;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 24px;
            picture {
              width: 192px;
              height: 192px;
              img {
                width: 100%;
                height: 100%;
                object-fit: contain;
              }
            }
          }
        }
      }
    }

    // release-page ********
    .release-page {
      .banner-box {
        margin-top: 32px;
      }
      .release-partners {
        .title-text {
          margin-bottom: 32px;
        }
        .partner {
          display: flex;
          &-img {
            min-width: 285px;
            height: 247px;
            margin-right: 25px;
            border-radius: 12px;
            border: 1px solid #EBEFF8;
            display: flex;
            align-items: center;
            justify-content: center;
            picture {
              width: 220px;
              img {
                width: 100%;
                object-fit: contain;
              }
            }
          }
          &-info {
            width: 100%;
            min-height: 247px;
            border-radius: 12px;
            border: 1px solid #EBEFF8;
            padding: 32px;
          }
          .partner-name{
            font-size: 20px;
            line-height: 28px;
            font-weight: 500;
          }
          .partner-text {
            color: #464B56;
            margin: 16px 0 24px;
          }
          .info {
            font-size: 15px;
            line-height: 15px;
            letter-spacing: -0.3px;
            padding: 12px 14px;
            border-radius: 80px;
            background: #F6F8FC;
            margin-right: 12px;
            white-space: nowrap;
          }
        }
        .release-partners-pagination {
          display: none;
          justify-content: center;
          margin-top: 24px;
        }
      }

      .participants-partners {
        .title-text {
          margin-bottom: 32px;
        }
        .participants {
          &-img {
            width: 100%;
            height: 310px;
            display: inline-block;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 16px;
            }
          }
          &-info {
            border-radius: 16px;
            border: 1px solid #EBEFF8;
            padding: 32px;
            margin-top: 16px;
          }
          &-name {
            font-size: 28px;
            line-height: 28px;
            font-weight: 500;
            span {
              font-size: 17px;
              line-height: 24px;
              font-weight: 400;
              color: #464B56;
            }
          }
          &-list {
            li {
              margin-top: 24px;
              font-size: 15px;
              line-height: 15px;
              color: #464B56;
              p {
                font-size: 20px;
                line-height: 22px;
                font-weight: 500;
                color: #131313;
                margin-top: 8px;
              }
            }
          }
        }
        .pagination {
          display: none;
          justify-content: center;
          margin-top: 32px;
        }
      }
      
      .information-partners {
        .title-text {
          margin-bottom: 32px;
        }
        .partner {
          &-img {
            border-radius: 12px;
            border: 1px solid #EBEFF8;
            background: #FFF;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            picture {
              width: 192px;
              height: 192px;
              img {
                width: 100%;
                height: 100%;
                object-fit: contain;
              }
            }
          }
        }
        .pagination {
          display: none;
          justify-content: center;
          margin-top: 32px;
        }
      }
    }

    .categories {
      &-top {
        .categories-btn {
          min-width: 126px;
          height: 52px;
          border-radius: 8px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid #EBEEF2;
          cursor: pointer;
          font-size: 16px;
          margin-right: 16px;
          display: none;
          span {
            display: flex;
            align-items: center;
            &::after {
              content: url(../img/svg/chevron_left.svg);
              margin-left: 8px;
              margin-top: 5px;
            }
          }
          svg {
            display: none;
          }
        }
        .input-box {
          margin-right: 16px;
          svg {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 20px;
          }
          .form__inp {
            padding: 0 20px 0 52px;
          }
        }
        .select {
          width: 354px;
          &-head {
            width: 354px;
          }
        }
      }

      .banner-box {
        align-items: start;
        min-height: 768px;
      }

      &-item {
        min-width: 305px;
        border-radius: 12px;
        border: 1px solid #EBEEF2;
        padding: 32px;
        margin-right: 24px;
        .item-title {
          font-size: 28px;
          line-height: 30px;
          font-weight: 500;
          margin-bottom: 24px;
        }
        .category-btn {
          cursor: pointer;
          input {
            display: none;
          }
          span {
            padding: 8px 16px;
            border-radius: 8px;
            background: $white; 
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-weight: 500;
            small {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 22px;
              height: 22px;
              border-radius: 50%;
              background: #F6F8FC;
              font-size: 12px;
              line-height: 12;
              font-weight: 700;
              color: #696F79;
            }
          }
          input:checked ~ span {
            background: $base;
            color: $white;
            small {
              background: $white;
              color: $base;
            }
          }
        }
      }
      .categories-box {
        width: 100%;

        .category-item {
          width: 49%;
          display: flex;
          flex-direction: column;
          margin-top: 24px;
          .item-img {
            width: 100%;
            height: 278px;
            margin-bottom: 16px;
            img {
              width: 100%;
              height: 100%;
              border-radius: 12px;
              object-fit: cover;
            }
          }
          .item-info {
            border-radius: 12px;
            border: 1px solid #EBEEF2;
            padding: 24px 14px 24px 24px;
            .info-title {
              font-size: 20px;
              line-height: 24px;
              font-weight: 500;
            }
            .info-text {
             color: #464B56;
             margin: 16px 0 24px;
             overflow-wrap: break-word;
             overflow: hidden;
             text-overflow: ellipsis;
             -webkit-line-clamp: 2;
             -webkit-box-orient: vertical;
             display: -webkit-box;
            }
            .info-list {
              padding: 12px 14px;
              border-radius: 50px;
              background: #F6F8FC;
              font-size: 15px;
              line-height: 15px;
              color: #696F79;
              margin-right: 12px;
            }
          }
        }

        .category-list {
          padding: 24px;
          border-radius: 12px;
          border: 1px solid #EBEEF2;
          margin-top: 16px;
          .list-title {
            font-size: 18px;
            line-height: 20px;
            font-weight: 500;
            span:last-child {
              position: relative;
              padding-left: 32px;
              &::before {
                content: url(../img/svg/play1.svg);
                position: absolute;
                left: 2px;
                top: 0;
              }
            }
          }
          .list-text {
            font-size: 16px;
            line-height: 20px;
            color: #464B56;
            margin: 16px 0 24px;
          }
          .info-list {
            padding: 12px 14px;
            border-radius: 50px;
            background: #F6F8FC;
            font-size: 15px;
            line-height: 15px;
            color: #696F79;
            margin-right: 12px;
          }
        }
        .view-more {
          margin-top: 16px;
        }
      }

      .categories-card {
        display: none;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 32px;
      }
      .card {
        .title-text {
          margin-top: 24px;
        }
        .category-photo {
          display: inline-block;
          width: 100%;
          height: 485px;
          margin-top: 32px;
          img {
            width: 100%;
            height: 100%;
            border-radius: 12px;
            object-fit: cover;
          }
        }
        .card-info {
          .subtitle-text {
            margin: 24px 0 16px;
          }
          font-size: 16px;
          line-height: 22px;
          color: #464B56;
          letter-spacing: -0.34px;
          .hidden-text {
            background: -webkit-linear-gradient(#000, #0001);
            -webkit-background-clip: text;
            color: #464B56;
            -webkit-text-fill-color: transparent;
            overflow-wrap: break-word;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            margin-top: 24px;
            letter-spacing: -0.34px;
          }
        }
      }

      .subscribe {
        margin: 64px 0 32px;
        border-radius: 16px;
        border: 1px solid #EBEFF8;
        padding: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        .info-text {
          font-size: 16px;
          line-height: 22px;
          margin: 16px 0 32px;
        }
        &-btn {
          width: 296px;
        }
      }

      .card-bottom {
        border-top: 1px solid #EBEFF8;
        padding-top: 24px;
        .info-list {
          padding: 12px 14px;
          border-radius: 50px;
          background: #F6F8FC;
          font-size: 15px;
          line-height: 15px;
          color: #696F79;
          margin-right: 12px;
        }
        .backTo {
          margin-top: 32px;
        }
      }

      .categories-empty {
        margin-top: 32px;
        .info-text {
          margin-top: 8px;
        }
      }

      .card-list {
        margin: 24px 0;
        li {
          display: flex;
          align-items: center;
          font-size: 20px;
          line-height: 22px;
          font-weight: 500;
          margin-bottom: 8px;
          &::before {
            content: '';
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: $base;
            margin-right: 12px;
          }
        }
      }
    }

    .filter-menu {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 99;
      background: #0008;
      width: 100%;
      height: 100%;
      .filter-content {
        background: #fff;
        width: 95%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        padding: 110px 15px 16px;
        animation: anim-filter .3s linear;
        .filter-close {
          position: absolute;
          top: 95px;
          right: 11px;
        }
        .filter-title {
          font-size: 30px;
          line-height: 32px;
          font-weight: 500;
        }
        .select {
          margin: 32px 0;
        }

        
        .category-btn {
          cursor: pointer;
          input {
            display: none;
          }
          span {
            padding: 12px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &::after {
              content: url(../img/svg/play-dote.svg);
              display: none;
            }
          }
          input:checked ~ span::after {
            display: block;
          }
        }
      }
      @keyframes anim-filter {
        from {
          left: -100%;
        }
        to {
          left: 0;
        }
      }
    }

    .application {
      padding: 38px 0 48px;
      .title-subtext {
        margin: 16px 0 32px;
      }
      .select {
        margin-bottom: 20px;
      }
    }
  }



  .footer {
    &-top {
      padding: 26px 0;
      .top-text {
        font-size: 20px;
        line-height: 28px;
        font-weight: 500;
        width: 310px;
        margin-right: 60px;
        span {
          white-space: nowrap;
        }
      }
      .top-form {
        width: 55%;
        justify-content: space-between;
        .input-box {
          width: 100%;
          margin-right: 14px;
        }
        .form__inp {
          padding: 0 24px 0 84px;
        }
        label {
          position: absolute;
          top: 15px;
          left: 20px;
          color: #696F79;
        }
        .form-btn {
          width: 175px;
          height: 52px;
          font-weight: 600;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0 30px;
          span {
            display: inline-block;
            margin-right: 8px;
          }
        }
      }
    }

    &-middle {
      padding: 52px 0;
      border-top: 1px solid #EBEFF8;
      border-bottom: 1px solid #EBEFF8;
      .proff-img img {
        width: 374px;
        object-fit: contain;
      }
      .left-text {
        font-size: 15px;
        line-height: normal;
        color: #696F79;
        margin-top: 32px;
      }
      .left {
        width: 40%;
      }
      .right {
        width: 60%;
        .item {
          &-title {
            font-size: 15px;
            line-height: 23px;
            color: #696F79;
          }
          &-nav {
            margin-top: 32px;
            li {
              font-size: 20px;
              line-height: 28px;
              font-weight: 500;
              margin-bottom: 16px;
              &:last-child {
                margin-bottom: 0;
              }
              &:hover {
                color: $base;
              }
              svg {
                margin-right: 12px;
              }
            }
          }
        }
      }
    }
    &-bottom {
      padding: 26px 0;
      .left {
        li {
          font-size: 15px;
          line-height: normal;
          color: #696F79;
          margin-right: 100px;
          &:hover {
            color: $base;
          }
        }
      }
    }
  }



  // START pop-up
  .popUp {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #0009;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    &-close {
      position: absolute;
      top: 28px;
      right: 28px;
      background: transparent;
      transition: .3s all;
      &:hover {
        transform: rotate(180deg);
      }
    }
    &-content {
      width: 456px;
      border-radius: 20px;
      background: #fff;
      padding: 31px 28px 27px;
      position: relative;
      animation: popUp-anim .3s linear;
      .form {
        &-title {
          span {
            font-size: 12px;
            line-height: 14.5px;
            color: #0008;
          }
          p {
            font-size: 22px;
            line-height: 26.5px;
            color: #000;
          }
        }
        &-checks {
          margin: 20px 0 18px;
          &__title {
            font-size: 16px;
            line-height: 19px;
            font-weight: 400;
            margin-bottom: 10px;
          }
          .check {
            display: flex;
            align-items: center;
            &:first-child {
              margin-right: 30px;
            }
            input[type="radio"] {
              appearance: none;
              width: 18px;
              height: 18px;
              border-radius: 50%;
              border: 1px solid #B1B1B1;
              margin-right: 8px;
              position: relative;
              cursor: pointer;
              &::before {
                content: '';
                display: none;
                min-width: 12px;
                min-height: 12px;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: linear-gradient(0deg, #24A363 -79.63%, #4BDD48 160.19%);
              }
            }
            label {
              cursor: pointer;
            }
            input[type="radio"]:checked {
              border: 1px solid #24A363;
            }
            input[type="radio"]:checked::before {
              display: block;
            }
          }
        }
        &_select {
          position: relative;
          margin-bottom: 12px;
          .select {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 50px;
            border-radius: 50px;
            border: 1px solid #EAEAEA;
            background: #F9F9F9;
            padding: 0 12px;
            cursor: pointer;
            &-active {
              font-size: 16px;
              line-height: 19px;
              color: #000;
            }
            svg {
              transition: .2s all;
            }
          }
          .options {
            position: absolute;
            left: 0;
            top: 100%;
            width: 100%;
            max-height: 120px;
            overflow-y: scroll;
            border: 1px solid #EAEAEA;
            border-top: none;
            background: #F9F9F9;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            display: none;
            z-index: 3;
            &::-webkit-scrollbar {
              width: 4px;
              background: transparent;
            }
            &::-webkit-scrollbar-thumb {
              background: #5E6D6D;
            }
            li {
              padding: 5px 15px;
              cursor: pointer;
              font-size: 16px;
              line-height: 20px;
              &:hover {
                background: #43C56F;
                color: #fff;
              }
              &:first-child {
                padding-top: 10px;
              }
              &:last-child {
                padding-bottom: 10px;
              }
            }
          }
        }
        .showOptions {
          .select {
            border-radius: 10px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            svg {
              transform: rotate(180deg);
            }
          }
          .options {
            display: block;
          }
        }
        &-box {
          margin-bottom: 12px;
          img {
            position: absolute;
            top: 16px;
            right: 13px;
          }
          input {
            width: 100%;
              height: 50px;
              border-radius: 50px;
              border: 1px solid #EAEAEA;
              background: #F9F9F9;
              padding: 0 12px;
              font-size: 16px;
              &::placeholder {
                color: #000;
              }
              &:focus {
                border-color: #43C56F;
              }
          }
        }
        .form-btn {
          width: 100%;
          height: 50px;
          border-radius: 50px;
          background: linear-gradient(92deg, #2CB570 -28.74%, #43C56F 34.53%, #43E040 99.14%);
          font-size: 18px;
          font-weight: 500;
          color: #fff;
          margin-top: 60px;
          span {
            margin-right: 10px;
          }
          &:hover {
            background: #5A6069;
          }
        }
      }

      .form__title {
        font-weight: 500;
        font-family: 'Raleway', sans-serif;
        font-size: 22px;
        line-height: 26px;
        color: #113A1D;
        margin-bottom: 24px;
      }
      .form__subtitle {
        font-weight: 500;
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        line-height: 19px;
        color: #113A1D;
      }
      &:last-child {
        padding: 52px 48px 37px;
      }
    }
  }
  .popUp-call {
    .popUp-content {
      padding: 52px 48px 37px;
    }
    .form-box {
      margin-bottom: 16px;
      label {
        font-size: 16px;
        line-height: 20px;
        font-weight: 500;
        margin-bottom: 12px;
      }
    }
    .form-btn {
      margin-top: 26px !important;
    }
  }
  .popUpHide  {
    animation: popUp-anim-hide .5s linear !important;
  }
  // END pop-up

  @keyframes popUp-anim {
    from {
      transform: scale(0);
    } to {
      transform:  scale(1);
    }
  }

  @keyframes popUp-anim-hide {
    from {
      transform: scale(1);
    } to {
      transform:  scale(0);
    }
  }

  @keyframes menu-anim {
    from {
      margin-left: -400px;
    } to {
      margin-left: 0;
    }
  }

  @keyframes menu-anim-hide {
    from {
      margin-left: 0;
    } to {
      margin-left: -400px;
    }
  }

  


  @import './_media'