@import './_font';
@import './_colors';

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
  font-family: "ProbaPro",sans-serif;
  font-feature-settings: "onum" off, "pnum" off, "lnum" on, "tnum" on;
  -moz-font-feature-settings: "onum=0, pnum=0, lnum=1, tnum=1";       /* Firefox */
  -webkit-font-feature-settings: "onum" off, "pnum" off, "lnum" on, "tnum" on;  /* WebKit */
  -o-font-feature-settings: "onum" off, "pnum" off, "lnum" on, "tnum" on;  
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    vertical-align: middle;
    letter-spacing: -2%;
    overflow-x: hidden;
    color: $dark;
  }
  
  .bodyStopScroll {
    overflow: hidden;
    height: 100vh;
  }
  
  ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  a:hover {
    color: inherit;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
  }
  
  button {
    outline: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
  input, textarea, select, button {
    border: none;
    outline: none;
  }
  
  .container {
    max-width: 1440px;
    padding: 0 32px;
    margin: 0 auto;
  }

  .text-center {
    text-align: center;
  }
  .d-flex {
    display: flex;
  }
  .d-none {
    display: none;
  }
  .align-center {
    align-items: center;
  }
  .justify-center {
    justify-content: center;
  }
  .justify-between {
    justify-content: space-between;
  }
  .justify-end {
    justify-content: end;
  }
  .flex-column {
    flex-direction: column;
  }
  .flex-wrap {
    flex-wrap: wrap;
  }
  .pointer {
    cursor: pointer;
  }

  .title-text {
    font-size: 34px;
    line-height: 40px;
    font-weight: 500;
    span {
      color: $base;
    }
  }
  .subtitle-text {
    font-size: 28px;
    line-height: 36px;
    font-weight: 500;
  }

  .btn-base {
    width: 100%;
    height: 52px;
    font-weight: 600;
    background: $base;
    color: $white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background: #EC3B43;
      color: $white;
    }
    &:active {
      background: #DD171D;
    }
  }

  .select {
    width: 100%;
    position: relative;
    white-space: nowrap;
    &-head {
      width: 100%;
      height: 52px;
      border-radius: 8px;
      border: 1px solid #EBEEF2;
      background: $white;
      padding: 16px;
      color: #696F79;
      cursor: pointer;
      span {
        display: inline-block;
        margin-right: 16px;
      }
      .select-active {
        color: #131313;
      }
    }
    .options {
      position: absolute;
      top: 110%;
      left: 0;
      width: 100%;
      background: $white;
      border: 1px solid #EBEEF2;
      border-radius: 8px;
      overflow: hidden;
      z-index: 5;
      display: none;
      .option {
        padding: 10px 22px;
        text-align-last: left;
        cursor: pointer;
        &:hover {
          background: #F6F8FC;
        }
      }
    }
  }

  .showSelect {
    .select-head {
      svg {
        transform: rotate(180deg);
      }
    }
    .options {
      display: block;
    }
  }

  .header {
    &-box {
      padding: 25px 0;
      border-bottom: 1px solid $light;
      position: relative;
      z-index: 100;
      background: $white;
    }

    .menu-btn {
      width: 54px;
      height: 54px;
      padding: 15px;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      border: 1.3px solid #EBEFF8;
      display: none;
      svg {
        &:last-child {
          display: none;
        }
      }
    }
    .clickBtn {
      svg {
        &:first-child {
          display: none;
        }
        &:last-child {
          display: block;
        }
      }
    }
    &-nav {
      li {
        font-weight: 500;
        margin-right: 48px;
        cursor: pointer;
        font-weight: 500;
        transition: .3s all;
        &:hover {
          color: $base;
        }
        &:last-child {
          margin-right: 0;
        }
        span {
          display: inline-block;
          margin-right: 6px;
        }
      }
    }
    .projects-btn svg {
      transition: .3s all;
    }
    .clickPr-btn svg {
      transform: rotate(45deg);
    }
    &-link {
      width: 260px;
      margin-right: 24px;
    }
    .user-box {
      .user-avatar {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 16px;
      }
      .user-name {
        display: inline-block;
        font-size: 16px;
        line-height: normal;
        margin-right: 8px;
        font-weight: 500;
      }
      .user-logout {
        font-size: 15px;
        line-height: normal;
        color: #696F79;
        cursor: pointer;
        &:hover {
          color: $base;
        }
      }
    }

    .menu {
      position: absolute;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      background: #0008;
      z-index: 99;
      padding-top: 103px;
      .header-link {
        display: none;
      }
      &-content {
        width: 500px;
        height: 100%;
        background: $white;
        padding: 16px 0 20px 20px;
        animation: anim-menu .3s linear;
      }
      .menu-close {
        margin-right: 20px;
        &:hover svg path {
          stroke: $base;
        }
      }
      &-title {
        font-size: 36px;
        line-height: 44px;
        font-weight: 500;
        padding-left: 16px;
        margin-top: -10px;
      }
      .menu-nav {
        margin-top: 16px;
        padding-right: 10px;
        margin-right: 10px;
        overflow-y: scroll;
        max-height: 55vh;
        &::-webkit-scrollbar {
          width: 6px;
          border-radius: 10px;
          background: $white;
        }
        &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          background: $base;
        }
        li {
          padding: 12px 16px;
          border-radius: 6px;
          background: $white;
          transition: .3s all;
          font-size: 20px;
          line-height: 28px;
          font-weight: 500;
          display: flex;
          align-items: center;
          justify-content: space-between;
          cursor: pointer;
          &::after {
            content: url(../img/svg/link-arrow.svg);
          }
          &:hover {
            background: $base;
            color: $white;
          }
        }
      }
    }

    @keyframes anim-menu {
      from {
        margin-left: -500px;
      } to {
        left: 0;
      }
    }
  }



  .main {
    background: #F6F8FC;
    .parallax {
      background: $white url(../img/webp/par-bg.webp);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      overflow: hidden;
      .suptitle-text {
        font-size: 36px;
        line-height: normal;
        font-weight: 500;
      }
      .parallax-bg {
        width: 100%;
        height: 256px;
        position: relative;
        .object {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          img {
            width: 100%;
            height: 256px;
            object-fit: contain;
            object-position: left;
          }
          &:nth-child(2) {
            left: -2%;
          }
          &:nth-child(4),
          &:nth-child(5),
            &:nth-child(6) {
            img {
              object-position: right;
            }
          }
        }
      }
    }

    .banner {
      margin-top: 32px;
      .container {
        padding: 0 20px;
      }
      .banner-box {
        padding: 32px;
        border-radius: 16px;
        background: $white;
      }
    }

    .block1 {
      background: $white;
      padding-bottom: 32px;
      border-radius: 0px 0px 18px 18px;
      &-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 24px;
        padding: 0 20px;
      }
      &-png img {
        width: 100%;
        height: 275px;
        border-radius: 12px;
        object-fit: cover;
      }
    }

    .project-rules {
      width: 100%;
      height: 52px;
      border-radius: 8px;
      background: $white;
      border: 1px solid $white;
      padding: 0 30px;
      font-weight: 500;
      span {
        display: inline-block;
        margin-right: 8px;
      }
      &:hover {
        border-color: rgba(254, 30, 37, 0.25);
        color: $base;
        svg path {
          stroke: $base;
        }
      }
      &:active {
        background: rgba(254, 30, 37, 0.25);
      }
    }

    .block2 {
      .title-text {
        display: flex;
        align-items: center;
        img {
          margin-right: 24px;
        }
      }
      .block2-box {
        margin-top: 32px;
        .box-left {
          width: 65%;
          .left-img img {
            width: 100%;
            object-fit: cover;
            border-radius: 12px;
          }
          .left-info {
            border-radius: 12px;
            border: 1px solid #E8ECF3;
            padding: 32px;
            padding-right: 90px;
            padding: 24px 47px 42px 32px;
            margin-top: 24px;
            .subtitle-text {
              span:last-child {
                position: relative;
                padding-left: 45px;
                &::before {
                  content: url(../img/svg/play-circlesvg.svg);
                  position: absolute;
                  left: 5px;
                  top: 5px;
                }
              }
            }
          }
        }
        .box-right {
          width: 33%;
          height: auto;
          border-radius: 12px;
          border: 1px solid #E8ECF3;
          padding: 34px 27px 25px;
          .left-img {
            img {
              width: 236px;
              height: 236px;
              border-radius: 50%;
              object-fit: cover;
            }
          }
          .subtitle-text {
            margin: 24px 0 20px;
          }
          .take-part {
            margin: 32px 0 16px;
          }
        }
      }
    }
    .swiper-pagination-bullet {
      background: #D0D0D0;
      opacity: 1;
      transition: .3s all;
    }
    .swiper-pagination-bullet-active {
      width: 32px;
      height: 8px;
      border-radius: 14px;
      background: #696F79;
    }

    .block3 {
      .info-text {
        margin-top: 24px;
      }
      .block3-box {
        margin: 32px 0;
        .box-img {
          width: 49%;
          img {
            width: 100%;
            object-fit: contain;
            border-radius: 12px;
          }
        }
        .box-right {
          width: 49%;
          border-radius: 12px;
          border: 1px solid #E8ECF3;
          padding: 36px 32px 42px;
          .subtitle-text {
            span:last-child {
              position: relative;
              padding-left: 45px;
              &::before {
                content: url(../img/svg/play-circlesvg.svg);
                position: absolute;
                left: 5px;
                top: 5px;
              }
            }
          }
          .info-text {
            margin-bottom: 16px;
          }
          .take-part {
            width: 202px;
            margin: 0;
          }
          .take-part {
            margin-right: 12px;
          }
          .project-rules {
            width: auto;
            white-space: nowrap;
          }
        }
      }
      .archive {
        .swiper {
          margin: 32px 0;
        }
        .archive-pagination {
          display: none;
          align-items: center;
          justify-content: center;
          margin-top: 24px;
        }
        &-item {
          .item-img img {
            width: 100%;
            height: 242px;
            border-radius: 12px;
            object-fit: cover;
          }
          .item-info {
            margin-top: 16px;
            border-radius: 12px;
            border: 1.3px solid #EEE;
            padding: 24px 40px 32px 32px;
            .info-title {
              font-size: 20px;
              line-height: 28px;
              font-weight: 500;
            }
            .info-text {
              margin: 18px 0 24px;
            }
            .info-list {
              padding: 12px 16px;
              border-radius: 50px;
              background: #F6F8FC;
              font-size: 15px;
              line-height: 15px;
              color: #696F79;
              margin-right: 12px;
              &:last-child {
                margin-right: 0;
              }
            }
          }
        }
      }
    }

    .prof-parallax {
      margin: 32px 0;
      .parallax-title {
        font-size: 48px;
        line-height: normal;
        font-weight: 500;
        span {
          color: $base;
        }
      }
      .parallax-subtitle {
        margin: 28px 0;
      }
      .parallax-info {
        max-width: 670px;
        position: relative;
        z-index: 3;
      }
      .form {
        margin-top: 28px;
        .select {
          width: 62%;
        }
        .form-btn {
          width: 36%;
        } 
      }
      .parallax-bg {
        width: 100%;
        background: $white url(../img/webp/pr-bg.webp);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 430px;
        position: relative;
        padding: 32px;
        border-radius: 16px;
        .objects {
          width: 100%;
          height: 100%;
          overflow: hidden;
          position: absolute;
          top: 0;
          left: 0;
        }
        .object {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: left;
          }
          &:nth-child(4),
          &:nth-child(5),
            &:nth-child(6) {
            img {
              object-position: right;
            }
          }
        }
      }
    }

    .block4 {
      .block4-pagination {
        display: none;
        align-items: center;
        justify-content: center;
        margin-bottom: 26px;
      }
      .swiper-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 24px;
        margin: 32px 0 24px;
        .swiper-slide {
          width: 100%;
          img {
            width: 100%;
            height: 236px;
            border-radius: 12px;
            object-fit: cover;
          }
          &:nth-child(1) {
            img {
              height: 100%;
            }
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 3;
          }
        }
      }
    }
  }






  // START pop-up
  .popUp {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #0009;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    &-close {
      position: absolute;
      top: 28px;
      right: 28px;
      background: transparent;
      transition: .3s all;
      &:hover {
        transform: rotate(180deg);
      }
    }
    &-content {
      width: 456px;
      border-radius: 20px;
      background: #fff;
      padding: 31px 28px 27px;
      position: relative;
      animation: popUp-anim .3s linear;
      .form {
        &-title {
          span {
            font-size: 12px;
            line-height: 14.5px;
            color: #0008;
          }
          p {
            font-size: 22px;
            line-height: 26.5px;
            color: #000;
          }
        }
        &-checks {
          margin: 20px 0 18px;
          &__title {
            font-size: 16px;
            line-height: 19px;
            font-weight: 400;
            margin-bottom: 10px;
          }
          .check {
            display: flex;
            align-items: center;
            &:first-child {
              margin-right: 30px;
            }
            input[type="radio"] {
              appearance: none;
              width: 18px;
              height: 18px;
              border-radius: 50%;
              border: 1px solid #B1B1B1;
              margin-right: 8px;
              position: relative;
              cursor: pointer;
              &::before {
                content: '';
                display: none;
                min-width: 12px;
                min-height: 12px;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: linear-gradient(0deg, #24A363 -79.63%, #4BDD48 160.19%);
              }
            }
            label {
              cursor: pointer;
            }
            input[type="radio"]:checked {
              border: 1px solid #24A363;
            }
            input[type="radio"]:checked::before {
              display: block;
            }
          }
        }
        &_select {
          position: relative;
          margin-bottom: 12px;
          .select {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 50px;
            border-radius: 50px;
            border: 1px solid #EAEAEA;
            background: #F9F9F9;
            padding: 0 12px;
            cursor: pointer;
            &-active {
              font-size: 16px;
              line-height: 19px;
              color: #000;
            }
            svg {
              transition: .2s all;
            }
          }
          .options {
            position: absolute;
            left: 0;
            top: 100%;
            width: 100%;
            max-height: 120px;
            overflow-y: scroll;
            border: 1px solid #EAEAEA;
            border-top: none;
            background: #F9F9F9;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            display: none;
            z-index: 3;
            &::-webkit-scrollbar {
              width: 4px;
              background: transparent;
            }
            &::-webkit-scrollbar-thumb {
              background: #5E6D6D;
            }
            li {
              padding: 5px 15px;
              cursor: pointer;
              font-size: 16px;
              line-height: 20px;
              &:hover {
                background: #43C56F;
                color: #fff;
              }
              &:first-child {
                padding-top: 10px;
              }
              &:last-child {
                padding-bottom: 10px;
              }
            }
          }
        }
        .showOptions {
          .select {
            border-radius: 10px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            svg {
              transform: rotate(180deg);
            }
          }
          .options {
            display: block;
          }
        }
        &-box {
          margin-bottom: 12px;
          img {
            position: absolute;
            top: 16px;
            right: 13px;
          }
          input {
            width: 100%;
              height: 50px;
              border-radius: 50px;
              border: 1px solid #EAEAEA;
              background: #F9F9F9;
              padding: 0 12px;
              font-size: 16px;
              &::placeholder {
                color: #000;
              }
              &:focus {
                border-color: #43C56F;
              }
          }
        }
        .form-btn {
          width: 100%;
          height: 50px;
          border-radius: 50px;
          background: linear-gradient(92deg, #2CB570 -28.74%, #43C56F 34.53%, #43E040 99.14%);
          font-size: 18px;
          font-weight: 500;
          color: #fff;
          margin-top: 60px;
          span {
            margin-right: 10px;
          }
          &:hover {
            background: #5A6069;
          }
        }
      }

      .form__title {
        font-weight: 500;
        font-family: 'Raleway', sans-serif;
        font-size: 22px;
        line-height: 26px;
        color: #113A1D;
        margin-bottom: 24px;
      }
      .form__subtitle {
        font-weight: 500;
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        line-height: 19px;
        color: #113A1D;
      }
      &:last-child {
        padding: 52px 48px 37px;
      }
    }
  }
  .popUp-call {
    .popUp-content {
      padding: 52px 48px 37px;
    }
    .form-box {
      margin-bottom: 16px;
      label {
        font-size: 16px;
        line-height: 20px;
        font-weight: 500;
        margin-bottom: 12px;
      }
    }
    .form-btn {
      margin-top: 26px !important;
    }
  }
  .popUpHide  {
    animation: popUp-anim-hide .5s linear !important;
  }
  // END pop-up

  @keyframes popUp-anim {
    from {
      transform: scale(0);
    } to {
      transform:  scale(1);
    }
  }

  @keyframes popUp-anim-hide {
    from {
      transform: scale(1);
    } to {
      transform:  scale(0);
    }
  }

  @keyframes menu-anim {
    from {
      margin-left: -400px;
    } to {
      margin-left: 0;
    }
  }

  @keyframes menu-anim-hide {
    from {
      margin-left: 0;
    } to {
      margin-left: -400px;
    }
  }

  


  @import './_media'