@font-face {
  font-family: "ProbaPro";
  src: url(../font/ProbaPro-Regular.woff) format("woff"), url(../font/ProbaPro-Regular.woff2) format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
}
@font-face {
  font-family: "ProbaPro";
  src: url(../font/ProbaPro-Medium.woff) format("woff"), url(../font/ProbaPro-Medium.woff2) format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: fallback;
}
@font-face {
  font-family: "ProbaPro";
  src: url(../font/ProbaPro-SemiBold.woff) format("woff"), url(../font/ProbaPro-SemiBold.woff2) format("woff2");
  font-style: normal;
  font-weight: 600;
  font-display: fallback;
}
@font-face {
  font-family: "ProbaPro";
  src: url(../font/ProbaPro-Bold.woff) format("woff"), url(../font/ProbaPro-Bold.woff2) format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "ProbaPro", sans-serif;
  font-feature-settings: "onum" off, "pnum" off, "lnum" on, "tnum" on;
  -moz-font-feature-settings: "onum=0, pnum=0, lnum=1, tnum=1"; /* Firefox */
  -webkit-font-feature-settings: "onum" off, "pnum" off, "lnum" on, "tnum" on; /* WebKit */
  -o-font-feature-settings: "onum" off, "pnum" off, "lnum" on, "tnum" on;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  vertical-align: middle;
  letter-spacing: -2%;
  overflow-x: hidden;
  color: #131313;
}

.bodyStopScroll {
  overflow: hidden;
  height: 100vh;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

button {
  outline: none;
  border: none;
  padding: 0;
}

input, textarea, select, button {
  border: none;
  outline: none;
}

.container {
  max-width: 1440px;
  padding: 0 32px;
}

.title-text {
  font-size: 34px;
  line-height: 40px;
  font-weight: 500;
}
.title-text span {
  color: #E2020C;
}

.subtitle-text {
  font-size: 28px;
  line-height: 36px;
  font-weight: 500;
}

.btn-base {
  width: 100%;
  height: 52px;
  font-weight: 600;
  background: #E2020C;
  color: #fff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-base:hover {
  background: #EC3B43;
  color: #fff;
}
.btn-base:active {
  background: #DD171D;
}

.select {
  width: 100%;
  position: relative;
}
.select-head {
  width: 100%;
  height: 52px;
  border-radius: 8px;
  border: 1px solid #EBEEF2;
  background: #fff;
  padding: 16px;
  color: #696F79;
  cursor: pointer;
}
.select-head span {
  display: inline-block;
  margin-right: 16px;
}
.select-head .select-active {
  color: #131313;
}
.select .options {
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  background: #fff;
  border: 1px solid #EBEEF2;
  border-radius: 8px;
  overflow: hidden;
  z-index: 5;
  display: none;
}
.select .options .option {
  padding: 20px 22px;
  text-align-last: left;
  cursor: pointer;
}
.select .options .option:hover {
  background: #F6F8FC;
}

.header {
  padding: 25px 0;
  border-bottom: 1px solid #E8ECF3;
}
.header-nav li {
  font-weight: 500;
  margin-right: 48px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s all;
}
.header-nav li:hover {
  color: #E2020C;
}
.header-nav li:last-child {
  margin-right: 0;
}
.header-nav li span {
  display: inline-block;
  margin-right: 6px;
}
.header-link {
  width: 260px;
  margin-right: 24px;
}
.header .user-box .user-avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 16px;
}
.header .user-box .user-name {
  display: inline-block;
  font-size: 16px;
  line-height: normal;
  margin-right: 8px;
  font-weight: 500;
}
.header .user-box .user-logout {
  font-size: 15px;
  line-height: normal;
  color: #696F79;
  cursor: pointer;
}
.header .user-box .user-logout:hover {
  color: #E2020C;
}

.main {
  background: #F6F8FC;
}
.main .parallax {
  background: #fff url(../img/png/par-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.main .parallax .suptitle-text {
  font-size: 36px;
  line-height: normal;
  font-weight: 500;
}
.main .parallax .parallax-bg {
  width: 100%;
  height: 256px;
  position: relative;
}
.main .parallax .parallax-bg .object {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  top: 0;
  left: 0;
}
.main .parallax .parallax-bg .object:nth-child(1) {
  left: -5%;
}
.main .parallax .parallax-bg .object:nth-child(2) {
  left: -2%;
}
.main section.banner {
  margin-top: 32px;
}
.main section.banner .container {
  padding: 0 20px;
}
.main section.banner .banner-box {
  padding: 32px;
  border-radius: 16px;
  background: #fff;
}
.main .sec1 {
  background: #fff;
  padding-bottom: 32px;
  border-radius: 0px 0px 18px 18px;
}
.main .sec1-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
  padding: 0 20px;
}
.main .sec1-png {
  width: 100%;
  height: 275px;
  border-radius: 12px;
  object-fit: cover;
}
.main .take-part {
  margin: 32px 0 16px;
}
.main .project-rules {
  width: 100%;
  height: 52px;
  border-radius: 8px;
  background: #fff;
  border: 1px solid #fff;
  padding: 0 30px;
  font-weight: 500;
}
.main .project-rules span {
  display: inline-block;
  margin-right: 8px;
}
.main .project-rules:hover {
  border-color: rgba(254, 30, 37, 0.25);
  color: #E2020C;
}
.main .project-rules:hover svg path {
  stroke: #E2020C;
}
.main .project-rules:active {
  background: rgba(254, 30, 37, 0.25);
}
.main .sec2 .title-text {
  display: flex;
  align-items: center;
}
.main .sec2 .title-text::before {
  content: url(../img/svg/play-icon.svg);
  margin-right: 24px;
}
.main .sec2 .sec2-box {
  margin-top: 32px;
}
.main .sec2 .sec2-box .box-left {
  width: 65%;
}
.main .sec2 .sec2-box .box-left .left-img {
  width: 100%;
  border-radius: 12px;
}
.main .sec2 .sec2-box .box-left .left-info {
  border-radius: 12px;
  border: 1px solid #E8ECF3;
  padding: 32px;
  padding-right: 90px;
  margin-top: 24px;
}
.main .sec2 .sec2-box .box-left .left-info .subtitle-text span:last-child {
  display: flex;
  align-items: center;
}
.main .sec2 .sec2-box .box-left .left-info .subtitle-text span:last-child::before {
  content: url(../img/svg/play-circlesvg.svg);
  margin: 8px 14px 0 8px;
}
.main .sec2 .sec2-box .box-right {
  width: 33%;
  border-radius: 12px;
  border: 1px solid #E8ECF3;
  padding: 32px;
}
.main .sec2 .sec2-box .box-right .subtitle-text {
  margin: 32px 0 24px;
}
.main .sec3 .info-text {
  margin-top: 24px;
}
.main .sec3 .sec3-box {
  margin: 32px 0;
}
.main .sec3 .sec3-box .box-img {
  width: 49%;
  object-fit: contain;
  border-radius: 12px;
}
.main .sec3 .sec3-box .box-right {
  width: 49%;
  border-radius: 12px;
  border: 1px solid #E8ECF3;
  padding: 36px 32px 42px;
}
.main .sec3 .sec3-box .box-right .take-part {
  width: 202px;
  margin: 0;
}
.main .sec3 .sec3-box .box-right .take-part {
  margin-right: 12px;
}
.main .sec3 .sec3-box .box-right .project-rules {
  width: auto;
}
.main .sec3 .archive-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 23px;
  margin: 32px 0 24px;
}
.main .sec3 .archive-item .item-img {
  width: 100%;
  height: 242px;
  border-radius: 12px;
  object-fit: cover;
}
.main .sec3 .archive-item .item-info {
  margin-top: 16px;
  border-radius: 12px;
  border: 1.3px solid #EEE;
  padding: 24px 40px 32px 32px;
}
.main .sec3 .archive-item .item-info .info-title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
}
.main .sec3 .archive-item .item-info .info-text {
  margin: 18px 0 24px;
}
.main .sec3 .archive-item .item-info .info-list {
  padding: 12px 16px;
  border-radius: 50px;
  background: #F6F8FC;
  font-size: 15px;
  line-height: 15px;
  color: #696F79;
  margin-right: 12px;
}
.main .sec3 .archive-item .item-info .info-list:last-child {
  margin-right: 0;
}
.main .prof-parallax {
  margin: 32px 0;
}
.main .prof-parallax .parallax-info {
  max-width: 670px;
  position: relative;
  z-index: 3;
}
.main .prof-parallax .form {
  margin-top: 28px;
}
.main .prof-parallax .form .select {
  width: 60%;
}
.main .prof-parallax .form .form-btn {
  width: 38%;
}
.main .prof-parallax .parallax-bg {
  width: 100%;
  background: #fff url(../img/png/pr-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 430px;
  position: relative;
  padding: 32px;
  border-radius: 16px;
}
.main .prof-parallax .parallax-bg .object {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  top: 0;
  left: 0;
}
.main .prof-parallax .parallax-bg .object:nth-child(1) {
  left: 0%;
}
.main .prof-parallax .parallax-bg .object:nth-child(2) {
  left: 0%;
}
.main .sec4 .sec4-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 24px;
  margin: 32px 0 24px;
}
.main .sec4 .sec4-box .sec4-img {
  width: 100%;
  height: 236px;
  border-radius: 12px;
  object-fit: cover;
}
.main .sec4 .sec4-box .sec4-img:nth-child(1) {
  height: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.popUp {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popUp-close {
  position: absolute;
  top: 28px;
  right: 28px;
  background: transparent;
  transition: 0.3s all;
}
.popUp-close:hover {
  transform: rotate(180deg);
}
.popUp-content {
  width: 456px;
  border-radius: 20px;
  background: #fff;
  padding: 31px 28px 27px;
  position: relative;
  animation: popUp-anim 0.3s linear;
}
.popUp-content .form-title span {
  font-size: 12px;
  line-height: 14.5px;
  color: rgba(0, 0, 0, 0.5333333333);
}
.popUp-content .form-title p {
  font-size: 22px;
  line-height: 26.5px;
  color: #000;
}
.popUp-content .form-checks {
  margin: 20px 0 18px;
}
.popUp-content .form-checks__title {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  margin-bottom: 10px;
}
.popUp-content .form-checks .check {
  display: flex;
  align-items: center;
}
.popUp-content .form-checks .check:first-child {
  margin-right: 30px;
}
.popUp-content .form-checks .check input[type=radio] {
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #B1B1B1;
  margin-right: 8px;
  position: relative;
  cursor: pointer;
}
.popUp-content .form-checks .check input[type=radio]::before {
  content: "";
  display: none;
  min-width: 12px;
  min-height: 12px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(0deg, #24A363 -79.63%, #4BDD48 160.19%);
}
.popUp-content .form-checks .check label {
  cursor: pointer;
}
.popUp-content .form-checks .check input[type=radio]:checked {
  border: 1px solid #24A363;
}
.popUp-content .form-checks .check input[type=radio]:checked::before {
  display: block;
}
.popUp-content .form_select {
  position: relative;
  margin-bottom: 12px;
}
.popUp-content .form_select .select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  border-radius: 50px;
  border: 1px solid #EAEAEA;
  background: #F9F9F9;
  padding: 0 12px;
  cursor: pointer;
}
.popUp-content .form_select .select-active {
  font-size: 16px;
  line-height: 19px;
  color: #000;
}
.popUp-content .form_select .select svg {
  transition: 0.2s all;
}
.popUp-content .form_select .options {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  max-height: 120px;
  overflow-y: scroll;
  border: 1px solid #EAEAEA;
  border-top: none;
  background: #F9F9F9;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: none;
  z-index: 3;
}
.popUp-content .form_select .options::-webkit-scrollbar {
  width: 4px;
  background: transparent;
}
.popUp-content .form_select .options::-webkit-scrollbar-thumb {
  background: #5E6D6D;
}
.popUp-content .form_select .options li {
  padding: 5px 15px;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
}
.popUp-content .form_select .options li:hover {
  background: #43C56F;
  color: #fff;
}
.popUp-content .form_select .options li:first-child {
  padding-top: 10px;
}
.popUp-content .form_select .options li:last-child {
  padding-bottom: 10px;
}
.popUp-content .form .showOptions .select {
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.popUp-content .form .showOptions .select svg {
  transform: rotate(180deg);
}
.popUp-content .form .showOptions .options {
  display: block;
}
.popUp-content .form-box {
  margin-bottom: 12px;
}
.popUp-content .form-box img {
  position: absolute;
  top: 16px;
  right: 13px;
}
.popUp-content .form-box input {
  width: 100%;
  height: 50px;
  border-radius: 50px;
  border: 1px solid #EAEAEA;
  background: #F9F9F9;
  padding: 0 12px;
  font-size: 16px;
}
.popUp-content .form-box input::placeholder {
  color: #000;
}
.popUp-content .form-box input:focus {
  border-color: #43C56F;
}
.popUp-content .form .form-btn {
  width: 100%;
  height: 50px;
  border-radius: 50px;
  background: linear-gradient(92deg, #2CB570 -28.74%, #43C56F 34.53%, #43E040 99.14%);
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  margin-top: 60px;
}
.popUp-content .form .form-btn span {
  margin-right: 10px;
}
.popUp-content .form .form-btn:hover {
  background: #5A6069;
}
.popUp-content .form__title {
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #113A1D;
  margin-bottom: 24px;
}
.popUp-content .form__subtitle {
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #113A1D;
}
.popUp-content:last-child {
  padding: 52px 48px 37px;
}

.popUp-call .popUp-content {
  padding: 52px 48px 37px;
}
.popUp-call .form-box {
  margin-bottom: 16px;
}
.popUp-call .form-box label {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  margin-bottom: 12px;
}
.popUp-call .form-btn {
  margin-top: 26px !important;
}

.popUpHide {
  animation: popUp-anim-hide 0.5s linear !important;
}

@keyframes popUp-anim {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes popUp-anim-hide {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
@keyframes menu-anim {
  from {
    margin-left: -400px;
  }
  to {
    margin-left: 0;
  }
}
@keyframes menu-anim-hide {
  from {
    margin-left: 0;
  }
  to {
    margin-left: -400px;
  }
}
@media (max-width: 1300px) {
  .header {
    padding: 16px 0;
  }
  .header-logo {
    margin-right: 15px;
  }
  .header-logo img {
    width: 150px;
  }
  .header-top-info {
    color: #5E6D6D;
  }
  .header-top-info img {
    margin-right: 8px;
    width: 22px;
  }
  .header-top-info:nth-child(2) {
    margin: 0 15px;
  }
  .header-top-info:last-child {
    margin-right: 10px;
  }
  .header-top-info p {
    font-size: 13px;
    line-height: 15px;
  }
  .header-top-info span {
    font-size: 11px;
    line-height: 12px;
  }
  main .block1__title {
    font-size: 40px;
    line-height: 44px;
    padding-bottom: 5px;
    margin: 6px 0 20px;
  }
  main .block1-item img {
    margin-right: 12px;
  }
  main .block1-item__title {
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    color: #337B47;
  }
  main .block1-item__text {
    font-size: 13px;
    line-height: 14.5px;
  }
  main .block1 .registration-btn {
    margin-top: 30px;
  }
  main .block4 .banner,
  main .block7 .banner {
    padding: 50px 20px;
  }
  main .block4 .banner__title,
  main .block7 .banner__title {
    font-size: 28px;
    line-height: 34px;
  }
  main .block4 .banner__img,
  main .block7 .banner__img {
    height: 100%;
  }
  main .about-item {
    margin-right: 15px;
    padding: 20px 8px;
  }
  main .about-item-head {
    width: 130px;
    height: 130px;
  }
  main .about-item span {
    width: 115px;
    height: 115px;
    font-size: 32px;
    line-height: 38px;
  }
}
@media (max-width: 1199px) {
  main .block2 .block2-box {
    grid-template-columns: repeat(2, 1fr);
  }
  main .block12 .block12-box {
    grid-template-columns: repeat(3, 1fr);
  }
  main .block1-doctor .block1-bg {
    object-position: right;
  }
}
@media (max-width: 991px) {
  .container {
    padding: 0 15px;
  }
  main .block1 {
    height: 550px;
    padding: 50px 0 60px;
  }
  main .block1-bg {
    top: -40px;
  }
  main .block1__suptitle {
    font-size: 14px;
    line-height: 16px;
    padding: 4px 6px;
  }
  main .block1__title {
    font-size: 30px;
    line-height: 34px;
  }
  main .block1-item {
    width: 75%;
  }
  main .block1-item img {
    margin-right: 10px;
  }
  main .block1-item__title {
    font-size: 14px;
    line-height: 16px;
  }
  main .block1-item__text {
    font-size: 12px;
    line-height: 13px;
    margin-top: 8px;
  }
  main .block1 .registration-btn {
    margin-top: 30px;
  }
  main .block5,
  main .block4 {
    background: #fff;
  }
  main .block4,
  main .block7 {
    background: #fff;
  }
  main .block4 .banner,
  main .block7 .banner {
    padding: 30px 20px;
  }
  main .block4 .banner__title,
  main .block7 .banner__title {
    font-size: 24px;
    line-height: 28px;
  }
  main .block4 .banner__title span span,
  main .block7 .banner__title span span {
    font-size: 30px;
  }
  main .block4 .banner .form,
  main .block7 .banner .form {
    margin-top: 25px;
  }
  main .block4 .banner .form .form-box,
  main .block7 .banner .form .form-box {
    margin-right: 1%;
    width: 24%;
  }
  main .block4 .banner .form__btn,
  main .block7 .banner .form__btn {
    margin-top: 20px;
  }
  main .block3 {
    background-image: none;
  }
  main .block3-company {
    padding: 60px 0 0 !important;
  }
  main .block6 {
    margin-top: 30px;
  }
  main .block6-address {
    width: 100%;
  }
  main .block6-address-info img {
    width: 30px;
  }
  main .block6-address-info:nth-child(2) {
    margin: 0 20px;
  }
  main .block6-address-info p {
    font-size: 16px;
    line-height: 20px;
  }
  main .block6-social {
    margin-top: 28px;
  }
  main .block1-services .block1-bg {
    object-position: right;
  }
  main .about {
    padding: 50px 0 0;
    background: #fff;
  }
  main .about__text {
    margin-top: 24px;
  }
  main .about-photo {
    margin-right: 0;
  }
  main .about-info {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    left: 0;
    bottom: 70px;
  }
  main .about-info__title {
    width: 100%;
    margin-top: 30px;
  }
  main .about-info-text {
    width: 85%;
  }
  main .about .col-lg-6:last-child {
    padding-bottom: 50px;
  }
  main .about-box {
    margin-top: -30px;
    overflow-x: scroll;
  }
  main .about-item {
    width: 202px;
    margin-right: 12px;
    padding: 20px 14px;
  }
  main .about-item-head {
    width: 165px;
    height: 165px;
  }
  main .about-item-head span {
    width: 145px;
    height: 145px;
    font-size: 38px;
    line-height: 44px;
  }
  main .company-block1 {
    background: #fff;
    height: auto;
    margin-bottom: 200px;
    overflow: visible;
    margin-top: -25px;
  }
  main .company-block1 .carousel {
    margin-top: 30px;
  }
  main .company-block1 .reating {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 97%;
  }
  main .prays {
    margin-top: 30px;
  }
  main .prays__title {
    font-size: 26px;
    line-height: 30px;
    display: inline-block;
    border-bottom: 3px solid #73C83F;
    padding-bottom: 20px;
  }
  main .sale {
    margin-top: 30px;
  }
  main .sale__title {
    font-size: 20px;
    line-height: 24px;
  }
  main .sale-card {
    margin-top: 15px;
  }
  main .faqs-page {
    margin-top: 0;
  }
  main .block6-map .location {
    top: 27%;
    left: 43%;
    height: 100px;
  }
  main .block5-page {
    background: #fff;
    margin: 40px 0 20px;
    padding: 0;
  }
  main .block5-page .block5-btns {
    position: relative;
  }
  main .block5-page .col-lg-5 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  main .block5-page .col-lg-5 .review-video {
    width: 400px;
    height: 350px;
  }
  main .block8 {
    margin: 20px 0 30px;
  }
  main .block8 .block8-img {
    margin-bottom: 30px;
  }
  main .block8 .info-text {
    margin-top: 0;
  }
  main .block8 .info-text:first-child {
    margin-top: 24px;
  }
  main .block12 {
    padding: 25px 6px 6px;
    margin: 0 12px;
  }
  main .block12 .title-text {
    font-size: 28px;
    line-height: 30px;
    padding-bottom: 20px;
  }
  main .block12 .block12-box {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 28px;
  }
  main .block12 .block12-item .item-name {
    width: 70%;
  }
  main .block12-doc {
    margin: 0;
    padding: 30px 0;
  }
  main .reviews-page {
    margin: 0;
    padding-top: 3px;
  }
  main .reviews-page .title-text {
    margin-bottom: 25px;
  }
  main .block6-contact {
    padding: 0;
  }
  main .block1-doctor .block1-bg {
    object-position: 80%;
  }
  main .block13 .title-text {
    margin-top: 30px;
  }
  main .block13 .certificate-img {
    max-height: 450px;
  }
  .footer-logo {
    margin-right: 40px;
  }
  .footer-box {
    width: 35%;
  }
  .footer-box:last-child {
    width: 65%;
  }
  .footer-sub {
    margin-top: 30px;
  }
}
@media (max-width: 767px) {
  main .block4 .banner,
  main .block7 .banner {
    padding: 26px 17px 195px;
  }
  main .block4 .banner__img,
  main .block7 .banner__img {
    height: auto;
  }
  main .block4 .banner .form,
  main .block7 .banner .form {
    margin-top: 25px;
  }
  main .block4 .banner .form .form-box,
  main .block7 .banner .form .form-box {
    margin-right: 0;
    width: 100%;
    margin-bottom: 12px;
  }
  main .block4 .banner .form .form-box:last-child,
  main .block7 .banner .form .form-box:last-child {
    margin-bottom: 0;
  }
  main .block4 .banner .form__btn,
  main .block7 .banner .form__btn {
    margin-top: 20px;
    width: 100%;
  }
  main .block5 {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 30px;
  }
  main .block5 .view-all {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  main .block7 .banner {
    padding: 25px 13px;
  }
  main .block7 .banner .form {
    margin-top: 14px;
  }
  main .block1-services {
    padding: 0 !important;
    margin: 0 !important;
  }
  main .block1-services .swiper-block2 {
    margin-top: 24px;
  }
  main .block1-services .block1-bg {
    object-position: center;
    border-radius: 30px;
    object-fit: contain;
    top: 0;
  }
  main .block1-services .block1__title {
    position: absolute;
    top: 24px;
    left: 24px;
  }
  main .price-service {
    margin: 30px 0;
  }
  main .price-service .container {
    height: 100%;
    justify-content: space-between !important;
  }
  main .price-service::before {
    display: none;
  }
  main .price-service-box {
    height: 430px;
    padding-left: 0;
  }
  main .price-service-box div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
  }
  main .price-service__title {
    font-size: 24px;
    line-height: 28px;
  }
  main .faqs {
    padding: 30px 0;
    background: #fff;
  }
  main .faqs::before {
    display: none;
  }
  main .faqs .row:first-child {
    margin-bottom: 25px;
  }
  main .faqs__subtitle {
    display: none;
  }
  main .faqs .faq-video {
    width: 100%;
    margin-bottom: 24px;
  }
  main .faqs-item {
    width: 100%;
  }
  main .block6 {
    margin-top: 30px;
  }
  main .block6-address {
    width: 100%;
  }
  main .block6-address-info {
    margin-bottom: 14px;
  }
  main .block6-address-info:nth-child(2) {
    margin: 0;
    margin-bottom: 14px;
  }
  main .block6-address-info:last-child {
    margin-bottom: 0;
  }
  main .prays__title {
    font-size: 26px;
    line-height: 30px;
    padding-bottom: 20px;
  }
  main .prays-filter {
    margin-top: 25px;
  }
  main .prays-filter .filter-btn {
    margin: 12px 12px 0 0;
  }
  main .prays-filter .filter-btn button {
    padding: 12px 16px;
    font-size: 14px;
    line-height: 15px;
  }
  main .prays-box {
    margin-top: 34px;
  }
  main .prays-box .title-text {
    font-size: 20px;
    line-height: 23px;
  }
  main .prays .prays-table {
    width: 100%;
    margin-top: 34px;
  }
  main .prays .prays-table tr {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
  }
  main .prays .prays-table tr td:nth-child(2) {
    text-align: left;
    padding: 0 18px;
  }
  main .prays .prays-table tr td:last-child {
    width: 100%;
    text-align: left;
  }
  main .prays .prays-table tr:nth-child(even) {
    background: transparent;
  }
  main .prays .prays-table tr .registration-btn {
    margin: 0 !important;
    width: 233px;
    height: 58px;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1019607843);
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
    color: #5A6069;
  }
  main .prays .prays-table tr .registration-btn:hover {
    background: rgba(0, 0, 0, 0.1019607843);
  }
  main .block1-ser .block1-bg {
    object-position: 70%;
  }
  main .block11 {
    margin-top: 45px;
    padding: 45px 0;
    background: linear-gradient(0deg, #FFFFFF 0%, #F8FFFF 100%);
  }
  main .block11 .block11-table {
    width: 100%;
    margin-top: 34px;
  }
  main .block11 .block11-table tr {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
  }
  main .block11 .block11-table tr td:nth-child(2) {
    text-align: left;
    padding: 0 18px;
  }
  main .block11 .block11-table tr td:last-child {
    width: 100%;
  }
  main .block11 .block11-table tr:nth-child(even) {
    background: transparent;
  }
  main .block11 .block11-table tr .registration-btn {
    margin: 0 !important;
    width: 233px;
    height: 58px;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1019607843);
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
    color: #5A6069;
  }
  main .block11 .block11-table tr .registration-btn:hover {
    background: rgba(0, 0, 0, 0.1019607843);
  }
  .footer-logo {
    margin-bottom: 30px;
  }
}
@media (max-width: 576px) {
  .title-text {
    font-size: 34px;
    line-height: 39px;
  }
  main .block1 {
    height: 700px;
    padding: 25px 0 20px;
    margin: 0 12px;
  }
  main .block1-bg {
    object-position: bottom;
    top: 0;
  }
  main .block1__suptitle {
    font-size: 12px;
    line-height: 15px;
  }
  main .block1__title {
    font-size: 26px;
    line-height: 30px;
  }
  main .block1-item {
    width: 100%;
  }
  main .block1-item img {
    margin-right: 10px;
  }
  main .block1-item__title {
    font-size: 12px;
    line-height: 15px;
  }
  main .block1-item__text {
    font-size: 10px;
    line-height: 12px;
  }
  main .block1 .registration-btn {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
  }
  main .block1 .call-btn {
    margin-bottom: 10px;
    margin-right: -5px;
  }
  main .block1 .registration-btn.stom {
    position: relative;
    left: 0;
    transform: none;
    margin-bottom: 90px;
    margin-right: -12px;
  }
  main .block2 {
    margin: 40px 0;
    background-image: url(../img/png/block2-bg.png);
  }
  main .block2 .block2-box {
    grid-template-columns: repeat(1, 1fr);
  }
  main .block3 {
    background-image: none;
    padding-bottom: 60px;
  }
  main .block3 .container {
    padding-right: 0;
  }
  main .block3 .block3-sort .sort-head {
    margin: 5px 0 23px;
  }
  main .block5 {
    padding: 60px 0;
    margin-bottom: 50px;
    background: #fff;
  }
  main .block5 .swiper-block5 {
    margin: 0;
    padding-bottom: 40px;
  }
  main .block5 .swiper-block5 {
    margin-top: 25px;
  }
  main .block5 .btn {
    position: relative !important;
    margin-top: 0;
  }
  main .block5 .btn:first-child {
    margin-right: 35px;
  }
  main .block5 .review {
    border-radius: 20px;
    border: 1px solid #FFF;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(25px);
    padding: 22px;
    min-height: 240px;
  }
  main .block5 .review__img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 14px;
  }
  main .block5 .review__name {
    font-size: 13px;
    line-height: 15px;
    font-weight: 500;
    color: #25292F;
  }
  main .block5 .review__date {
    font-size: 12px;
    line-height: 14px;
    color: rgba(0, 0, 0, 0.5333333333);
    margin-top: 8px;
  }
  main .block5 .review__text {
    font-size: 13px;
    line-height: 15px;
    color: #5A6069;
    margin-top: 14px;
  }
  main .block5 .btn {
    width: 39px;
    height: 39px;
    border-radius: 50%;
    background: #3ABE6F;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main .block5 .btn:first-child {
    left: 0;
  }
  main .block5 .btn:last-child {
    right: 0;
  }
  main .block5 .btn:hover {
    background: #5A6069;
  }
  main .block6 .title__text {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 28px;
  }
  main .block6-map {
    margin-top: 28px;
  }
  main .about-photo {
    width: 100%;
  }
  main .company-block1 {
    margin: 0;
    margin-bottom: 250px;
    padding-top: 0;
  }
  main .company-block1 .block1__title {
    margin-bottom: 0;
  }
  main .company-block1 .block1__text {
    margin-top: 20px;
  }
  main .company-block1 .carousel {
    max-width: 327px;
  }
  main .company-block1 .swiper-company .swiper-slide {
    height: 335px;
  }
  main .company-block1 .reating {
    margin: 0;
    top: 97%;
  }
  main .company-block1 .reating-info {
    margin-top: 8px;
  }
  main .company-block1 .reating-item {
    width: 100%;
  }
  main .block7 {
    margin: 60px 0 30px;
  }
  main .faqs .title-text {
    font-size: 24px;
    line-height: 28px;
  }
  main .block6 .title-text {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 28px;
  }
  main .block6-map__link {
    bottom: 10px;
  }
  main .block6-map .location {
    top: 33%;
    left: 35%;
    height: 70px;
  }
  main .block5-page {
    padding-top: 0;
  }
  main .block1-ser {
    height: 340px !important;
  }
  main .block1-ser .block1-bg {
    object-position: center;
  }
  main .block1-ser .info-text {
    font-size: 10px;
    line-height: 12px;
  }
  main .block9 {
    padding-bottom: 0;
  }
  main .block9 .info-text {
    margin: 24px 0 28px;
  }
  main .block9 .block9-item .item-num {
    min-width: 38px;
    height: 38px;
    margin-right: 15px;
  }
  main .block9 .block9-item .item-num .num {
    font-size: 16px;
    line-height: 16px;
  }
  main .block10 .block10-box {
    padding: 26px 17px;
  }
  main .block10 .title-text {
    font-size: 24px;
    line-height: 28px;
  }
  main .block10 .block10-item {
    padding: 12px;
    margin-top: 18px;
  }
  main .block10 .block10-item .info-text {
    font-size: 16px;
    line-height: 19px;
  }
  main .block11 {
    margin-top: 30px;
    padding: 30px 0 0;
    background: none;
  }
  main .block11 .block11-table {
    margin-top: 24px;
  }
  main .block12 .block12-box {
    grid-template-columns: repeat(1, 1fr);
  }
  main .block12 .block12-item .item-name {
    width: 70%;
  }
  main .reviews-page {
    padding: 30px 0;
    margin: 0;
  }
  main .reviews-page .review-video {
    margin-top: 40px;
    height: 294px;
  }
  main .reviews-page .review-video .video-js .vjs-big-play-button {
    width: 41px;
    height: 41px;
  }
  main .reviews-page .review-video .video-js .vjs-big-play-button::before {
    content: "";
    width: 49px;
    height: 49px;
    top: -5px;
    left: -5px;
  }
  main .reviews-page .review-video .vjs-big-play-button .vjs-icon-placeholder:before {
    content: url(../img/svg/play2.svg) !important;
    top: 15% !important;
    left: 45% !important;
    transform: translate(-40%, -25%) !important;
  }
  main .sale .title-text {
    font-size: 26px;
    line-height: 30px;
  }
  main .block1-doctor {
    height: 600px !important;
    position: relative;
    padding: 25px 0 15px;
  }
  main .block1-doctor .block1__title {
    margin: 6px 0 20px;
  }
  main .block1-doctor .block1-bg {
    object-position: center bottom;
    top: 0;
  }
  main .block1-doctor .sup-info {
    font-size: 12px;
    line-height: 14px;
    margin-right: 6px;
  }
  main .block1-doctor .sup-info:last-child {
    margin-right: 0;
  }
  main .block1-doctor .sup-info img {
    max-width: 14px;
  }
  main .block1-doctor .sub-info {
    width: 50%;
    margin-right: 0;
    font-size: 14px;
    line-height: 16px;
    white-space: nowrap;
  }
  main .block1-doctor .sub-info img {
    max-width: 14px;
  }
  main .block1-doctor .sub-info p {
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    margin-bottom: 4px;
  }
  main .block1-doctor .container {
    height: 100%;
  }
  main .block1-doctor .registration-btn {
    width: 95%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  main .block13 {
    margin: 25px 0 60px;
  }
  main .block13 .btn {
    position: relative;
    top: 0;
    transform: none;
    margin-top: 24px !important;
  }
  main .block13 .btn:first-child {
    margin-right: 30px !important;
  }
  main .block3-company {
    margin-top: 30px;
  }
  .footer-box {
    width: 50%;
  }
  .footer-nav {
    width: 100%;
  }
  .footer-nav:first-child {
    margin-bottom: 20px;
  }
  .footer-info {
    width: 100%;
  }
  .footer-info:first-child {
    margin-bottom: 25px;
  }
  .popUp-content {
    width: 98%;
    padding-left: 24px !important;
    padding-right: 24px !important;
  }
}
@media (max-width: 420px) {
  .menu-content {
    width: 100%;
  }
  main .block1 {
    height: 574px;
  }
  main .company-block1 {
    margin-bottom: 440px;
  }
  main .company-block1 .reating {
    top: 125%;
  }
  main .block1-doctor {
    height: 500px !important;
  }
  main .block1-doctor .block1-bg {
    object-position: center bottom;
  }
  main .faqs .title-text {
    font-size: 24px;
    line-height: 28px;
  }
  main .faqs .faq-video {
    height: 250px;
  }
  main .faqs .faq-video .video-js .vjs-big-play-button {
    width: 41px;
    height: 41px;
  }
  main .faqs .faq-video .video-js .vjs-big-play-button::before {
    width: 50px;
    height: 50px;
    top: -5px;
    left: -5px;
  }
  main .faqs .faq-video .vjs-big-play-button .vjs-icon-placeholder:before {
    content: url(../img/svg/play2.svg) !important;
    top: 15% !important;
  }
  main .faqs-item {
    width: 100%;
  }
  main .prays .prays__download {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */